# Essex County, MA Public Schools DOE + Census Bureau data

Merging datasets from Massachusetts Department of Education (DOE) and U.S. Census Bureau data for school districts and towns in Essex County

Imports

In [46]:
#Import libraries
import pandas as pd

In [47]:
import matplotlib.pyplot as plt
import numpy as np

In [48]:
#  import packages
from plotnine import *

In [49]:
# %%R

# # My commonly used R imports

# require('ggplot2')
# require('readr')
# require('extrafont')
# require('dplyr')
# require('reshape2')
# # require('theme538')

In [50]:
pd.set_option("display.max_columns", None)

### Importing School and District Profiles from Mass. Department of Education (DOE)

In [51]:
# 2020-21 Class Size by Race/Ethnicity Report 
df = pd.read_excel("ClassSizebyRaceEthnicity.xlsx")

In [52]:
df.columns = df.columns.str.lower().str.replace(" ", "_")
df.head(100)

,district_name,district_code,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,"native_hawaiian,_pacific_islander_%","multi-race,_non-hispanic_%"
0,Abby Kelley Foster Charter Public (District),4450000,713,18.9,"1,425",54.3,3.4,19.7,16.8,0.6,0.1,5.1
1,Abington,10000,"1,017",19.8,"2,178",5.0,2.3,11.5,78.7,0.5,0.1,2.0
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,201,19.7,538,62.6,0.7,28.4,6.7,0.0,0.2,1.3
3,Acton-Boxborough,6000000,"2,368",17.1,"5,246",3.2,33.6,6.5,51.6,0.1,0.1,5.0
4,Acushnet,30000,400,15.2,913,1.2,1.0,4.2,89.8,0.2,0.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Dracut,790000,"2,220",14.5,"3,675",7.4,7.9,12.3,70.3,0.3,0.0,1.9
96,Dudley Street Neighborhood Charter School (Dis...,4070000,15,21.0,277,61.7,0.7,33.6,2.9,0.4,0.0,0.7
97,Dudley-Charlton Reg,6580000,"1,629",17.1,"3,474",1.7,1.0,9.7,84.3,0.2,0.1,3.1
98,Duxbury,820000,"1,444",19.0,"2,810",0.5,1.3,2.6,91.7,0.1,0.0,3.8
99,East Bridgewater,830000,"1,107",19.0,"2,126",4.5,0.8,3.7,87.5,0.5,0.1,3.0

###### 2021 MCAS Achievement Results

In [53]:
df_mcas = pd.read_excel("mcas.xlsx")

In [54]:
df_mcas.columns = df_mcas.columns.str.lower().str.replace(" ", "_")
df_mcas

,district_name,district_code,subject,p+a_#,p+a_%,a_#,a_%,p_#,p_%,ni_#,ni_%,w/f_#,w/f_%,student_included,ave._sgp,included_in_ave._sgp
0,Abby Kelley Foster Charter Public (District),4450000,BIOLOGY,66,69,21,22,45,47,24,25,5,5,95,NaN,NaN
1,Abington,10000,BIOLOGY,99,70,23,16,76,54,31,22,11,8,141,NaN,NaN
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,INTRODUCTORY PHYSICS,19,25,3,4,16,21,30,40,26,35,75,NaN,NaN
3,Acton-Boxborough,6000000,BIOLOGY,149,97,135,88,14,9,2,1,2,1,153,NaN,NaN
4,Advanced Math and Science Academy Charter (Dis...,4300000,BIOLOGY,129,91,65,46,64,45,10,7,2,1,141,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,Worcester,3480000,INTRODUCTORY PHYSICS,6,9,0,0,6,9,26,40,33,51,65,NaN,NaN
283,State Totals,0,BIOLOGY,24274,67,8667,24,15607,43,7979,22,4186,11,36440,NaN,NaN
284,State Totals,0,CHEMISTRY,7,23,0,0,7,23,4,13,20,65,31,NaN,NaN
285,State Totals,0,INTRODUCTORY PHYSICS,7194,62,2692,23,4502,39,2793,24,1581,14,11577,NaN,NaN
286,State Totals,0,TECHNOLOGY/ENGINEERING,123,30,2,0,121,30,157,38,130,32,410,NaN,NaN

In [55]:
# note: MCAs scores double up districts because there are multi subjects tested per district, so it's not included in the full dataframe
# df = pd.merge(df, df_mcas, on='district_code', how='outer')
# df

###### 2020-21 Advanced Placement Performance - All Subjects - All Students

In [56]:
df_ap_performance = pd.read_excel("ap_performance.xlsx")

In [57]:
df_ap_performance.columns = df_ap_performance.columns.str.lower().str.replace(" ", "_")
df_ap_performance

,district_name,district_code,tests_taken,score=1,score=2,score=3,score=4,score=5,%_score_1-2,%_score_3-5
0,Abington,10000,100,16,31,37,15,1,47.0,53.0
1,Academy Of the Pacific Rim Charter Public (Dis...,4120000,109,81,20,4,3,1,92.7,7.3
2,Acton-Boxborough,6000000,"1,070",12,55,158,344,501,6.3,93.7
3,Advanced Math and Science Academy Charter (Dis...,4300000,504,29,74,142,127,132,20.4,79.6
4,Agawam,50000,209,27,65,55,39,23,44.0,56.0
...,...,...,...,...,...,...,...,...,...,...
285,Winchester,3440000,808,39,73,172,250,274,13.9,86.1
286,Winthrop,3460000,335,133,100,57,33,12,69.6,30.4
287,Woburn,3470000,344,36,104,89,71,44,40.7,59.3
288,Worcester,3480000,"2,060",957,467,346,192,98,69.1,30.9
289,State Totals,0,"94,879","16,372","20,723","23,162","20,378","14,244",39.1,60.9

In [58]:
df = pd.merge(df, df_ap_performance, on='district_code', how='outer')
df

,district_name_x,district_code,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,"native_hawaiian,_pacific_islander_%","multi-race,_non-hispanic_%",district_name_y,tests_taken,score=1,score=2,score=3,score=4,score=5,%_score_1-2,%_score_3-5
0,Abby Kelley Foster Charter Public (District),4450000,713,18.9,"1,425",54.3,3.4,19.7,16.8,0.6,0.1,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abington,10000,"1,017",19.8,"2,178",5.0,2.3,11.5,78.7,0.5,0.1,2.0,Abington,100,16,31,37,15,1,47.0,53.0
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,201,19.7,538,62.6,0.7,28.4,6.7,0.0,0.2,1.3,Academy Of the Pacific Rim Charter Public (Dis...,109,81,20,4,3,1,92.7,7.3
3,Acton-Boxborough,6000000,"2,368",17.1,"5,246",3.2,33.6,6.5,51.6,0.1,0.1,5.0,Acton-Boxborough,"1,070",12,55,158,344,501,6.3,93.7
4,Acushnet,30000,400,15.2,913,1.2,1.0,4.2,89.8,0.2,0.0,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,Woburn,3470000,"2,985",13.8,"4,332",7.5,7.1,12.4,68.4,0.8,0.2,3.5,Woburn,344,36,104,89,71,44,40.7,59.3
397,Worcester,3480000,"11,791",14.1,"20,660",17.3,6.2,42.9,29.0,0.2,0.0,4.5,Worcester,"2,060",957,467,346,192,98,69.1,30.9
398,Worthington,3490000,60,6.0,58,0.0,0.0,5.2,91.4,1.7,0.0,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,Wrentham,3500000,404,18.4,893,1.8,3.0,5.4,84.8,0.3,0.2,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,State Totals,0,"502,941",15.5,"912,474",9.4,7.2,22.4,56.5,0.2,0.1,4.1,State Totals,"94,879","16,372","20,723","23,162","20,378","14,244",39.1,60.9

###### 2020-21 Advanced Placement Participation - All Subjects - All Students

In [59]:
df_ap_participation = pd.read_excel("ap_participation.xlsx")

In [60]:
df_ap_participation.columns = df_ap_participation.columns.str.lower().str.replace(" ", "_")
df_ap_participation

,district_name,district_code,tests_takers,tests_taken,one_test,two_tests,three_tests,four_tests,five_or_more_tests
0,Abington,10000,69,100,43,22,3,1,0
1,Academy Of the Pacific Rim Charter Public (Dis...,4120000,74,109,46,21,7,0,0
2,Acton-Boxborough,6000000,451,"1,070",137,136,94,49,35
3,Advanced Math and Science Academy Charter (Dis...,4300000,247,504,99,62,63,23,0
4,Agawam,50000,129,209,72,42,9,5,1
...,...,...,...,...,...,...,...,...,...
285,Winchester,3440000,349,808,141,74,57,48,29
286,Winthrop,3460000,150,335,52,24,62,11,1
287,Woburn,3470000,205,344,124,41,26,11,3
288,Worcester,3480000,"1,322","2,060",818,321,137,41,5
289,State Totals,0,"51,911","94,879","25,586","14,802","7,676","2,805","1,042"

In [61]:
df = pd.merge(df, df_ap_participation, on='district_code', how='outer')
df

,district_name_x,district_code,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,"native_hawaiian,_pacific_islander_%","multi-race,_non-hispanic_%",district_name_y,tests_taken_x,score=1,score=2,score=3,score=4,score=5,%_score_1-2,%_score_3-5,district_name,tests_takers,tests_taken_y,one_test,two_tests,three_tests,four_tests,five_or_more_tests
0,Abby Kelley Foster Charter Public (District),4450000,713,18.9,"1,425",54.3,3.4,19.7,16.8,0.6,0.1,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abington,10000,"1,017",19.8,"2,178",5.0,2.3,11.5,78.7,0.5,0.1,2.0,Abington,100,16,31,37,15,1,47.0,53.0,Abington,69,100,43,22,3,1,0
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,201,19.7,538,62.6,0.7,28.4,6.7,0.0,0.2,1.3,Academy Of the Pacific Rim Charter Public (Dis...,109,81,20,4,3,1,92.7,7.3,Academy Of the Pacific Rim Charter Public (Dis...,74,109,46,21,7,0,0
3,Acton-Boxborough,6000000,"2,368",17.1,"5,246",3.2,33.6,6.5,51.6,0.1,0.1,5.0,Acton-Boxborough,"1,070",12,55,158,344,501,6.3,93.7,Acton-Boxborough,451,"1,070",137,136,94,49,35
4,Acushnet,30000,400,15.2,913,1.2,1.0,4.2,89.8,0.2,0.0,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,Woburn,3470000,"2,985",13.8,"4,332",7.5,7.1,12.4,68.4,0.8,0.2,3.5,Woburn,344,36,104,89,71,44,40.7,59.3,Woburn,205,344,124,41,26,11,3
397,Worcester,3480000,"11,791",14.1,"20,660",17.3,6.2,42.9,29.0,0.2,0.0,4.5,Worcester,"2,060",957,467,346,192,98,69.1,30.9,Worcester,"1,322","2,060",818,321,137,41,5
398,Worthington,3490000,60,6.0,58,0.0,0.0,5.2,91.4,1.7,0.0,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,Wrentham,3500000,404,18.4,893,1.8,3.0,5.4,84.8,0.3,0.2,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,State Totals,0,"502,941",15.5,"912,474",9.4,7.2,22.4,56.5,0.2,0.1,4.1,State Totals,"94,879","16,372","20,723","23,162","20,378","14,244",39.1,60.9,State Totals,"51,911","94,879","25,586","14,802","7,676","2,805","1,042"

###### 2019-20  HS Graduates Attending Institutions of Higher Education (District) - All Students - All Colleges and Universities

In [62]:
df_grads_college = pd.read_excel("Gradsattendingcollege.xlsx")

In [63]:
df_grads_college.columns = df_grads_college.columns.str.lower().str.replace(" ", "_")
df_grads_college

,district_name,district_code,high_school_graduates_(#),attending_coll./univ._(#),attending_coll./univ._(%),private_two-year_(%),private_four-year_(%),public_two-year_(%),public_four-year_(%),ma_community_college_(%),ma_state_university_(%),univ.of_mass._(%)
0,Abby Kelley Foster Charter Public (District),4450000,83,57.0,68.7,0.0,29.8,22.8,47.4,22.8,15.8,29.8
1,Abington,10000,115,91.0,79.1,0.0,29.7,17.6,51.6,17.6,16.5,17.6
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,44,24.0,54.5,0.0,25.0,33.3,41.7,33.3,25.0,16.7
3,Acton-Boxborough,6000000,451,375.0,83.1,0.0,46.1,5.1,48.8,5.1,2.4,18.4
4,Advanced Math and Science Academy Charter (Dis...,4300000,134,116.0,86.6,0.0,44.0,5.2,50.9,5.2,3.4,26.7
...,...,...,...,...,...,...,...,...,...,...,...,...
303,Winchester,3440000,339,280.0,82.6,0.0,60.7,6.4,32.9,5.7,1.4,14.3
304,Winthrop,3460000,125,97.0,77.6,0.0,36.1,15.5,48.5,15.5,20.6,17.5
305,Woburn,3470000,291,189.0,64.9,0.0,35.4,23.3,41.3,23.3,10.1,24.9
306,Worcester,3480000,1739,893.0,51.4,0.0,23.3,33.8,42.9,32.7,24.4,15.2
307,State Totals,0,68405,43773.0,64.0,0.1,40.0,18.6,41.3,17.8,11.0,17.3

In [64]:
df = pd.merge(df, df_grads_college, on='district_code', how='outer')
df

/var/folders/c2/zngcssg14mv23nw0yr96s0wm0000gn/T/ipykernel_14881/2121479439.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'district_name_x'} in the result is deprecated and will raise a MergeError in a future version.

,district_name_x,district_code,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,"native_hawaiian,_pacific_islander_%","multi-race,_non-hispanic_%",district_name_y,tests_taken_x,score=1,score=2,score=3,score=4,score=5,%_score_1-2,%_score_3-5,district_name_x,tests_takers,tests_taken_y,one_test,two_tests,three_tests,four_tests,five_or_more_tests,district_name_y,high_school_graduates_(#),attending_coll./univ._(#),attending_coll./univ._(%),private_two-year_(%),private_four-year_(%),public_two-year_(%),public_four-year_(%),ma_community_college_(%),ma_state_university_(%),univ.of_mass._(%)
0,Abby Kelley Foster Charter Public (District),4450000,713,18.9,"1,425",54.3,3.4,19.7,16.8,0.6,0.1,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abby Kelley Foster Charter Public (District),83.0,57.0,68.7,0.0,29.8,22.8,47.4,22.8,15.8,29.8
1,Abington,10000,"1,017",19.8,"2,178",5.0,2.3,11.5,78.7,0.5,0.1,2.0,Abington,100,16,31,37,15,1,47.0,53.0,Abington,69,100,43,22,3,1,0,Abington,115.0,91.0,79.1,0.0,29.7,17.6,51.6,17.6,16.5,17.6
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,201,19.7,538,62.6,0.7,28.4,6.7,0.0,0.2,1.3,Academy Of the Pacific Rim Charter Public (Dis...,109,81,20,4,3,1,92.7,7.3,Academy Of the Pacific Rim Charter Public (Dis...,74,109,46,21,7,0,0,Academy Of the Pacific Rim Charter Public (Dis...,44.0,24.0,54.5,0.0,25.0,33.3,41.7,33.3,25.0,16.7
3,Acton-Boxborough,6000000,"2,368",17.1,"5,246",3.2,33.6,6.5,51.6,0.1,0.1,5.0,Acton-Boxborough,"1,070",12,55,158,344,501,6.3,93.7,Acton-Boxborough,451,"1,070",137,136,94,49,35,Acton-Boxborough,451.0,375.0,83.1,0.0,46.1,5.1,48.8,5.1,2.4,18.4
4,Acushnet,30000,400,15.2,913,1.2,1.0,4.2,89.8,0.2,0.0,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,Worthington,3490000,60,6.0,58,0.0,0.0,5.2,91.4,1.7,0.0,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,Wrentham,3500000,404,18.4,893,1.8,3.0,5.4,84.8,0.3,0.2,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,State Totals,0,"502,941",15.5,"912,474",9.4,7.2,22.4,56.5,0.2,0.1,4.1,State Totals,"94,879","16,372","20,723","23,162","20,378","14,244",39.1,60.9,State Totals,"51,911","94,879","25,586","14,802","7,676","2,805","1,042",State Totals,68405.0,43773.0,64.0,0.1,40.0,18.6,41.3,17.8,11.0,17.3
401,NaN,35040000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,City on a Hill Charter Public School Dudley Sq...,51.0,36.0,70.6,0.0,30.6,27.8,41.7,27.8,16.7,25.0
402,NaN,35070000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,City on a Hill Charter Public School New Bedfo...,24.0,8.0,33.3,0.0,12.5,25.0,62.5,25.0,25.0,37.5

###### 2020-21 SAT Performance Report - All Students

In [65]:
df_sats = pd.read_excel("sat_performance.xlsx")

In [66]:
df_sats.columns = df_sats.columns.str.lower().str.replace(" ", "_")
df_sats

,district_name,district_code,tests_taken,reading_/_writing,writing,math
0,Abby Kelley Foster Charter Public (District),4450000,12,593.0,NaN,528.0
1,Abington,10000,64,565.0,NaN,534.0
2,Acton-Boxborough,6000000,487,651.0,NaN,682.0
3,Advanced Math and Science Academy Charter (Dis...,4300000,164,629.0,NaN,657.0
4,Agawam,50000,64,578.0,NaN,564.0
...,...,...,...,...,...,...
291,Winchester,3440000,449,627.0,NaN,643.0
292,Winthrop,3460000,50,559.0,NaN,552.0
293,Woburn,3470000,220,536.0,NaN,536.0
294,Worcester,3480000,643,518.0,NaN,521.0
295,State Totals,0,"43,337",576.0,NaN,576.0

In [67]:
df = pd.merge(df, df_sats, on='district_code', how='outer')
df

,district_name_x,district_code,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,"native_hawaiian,_pacific_islander_%","multi-race,_non-hispanic_%",district_name_y,tests_taken_x,score=1,score=2,score=3,score=4,score=5,%_score_1-2,%_score_3-5,district_name_x,tests_takers,tests_taken_y,one_test,two_tests,three_tests,four_tests,five_or_more_tests,district_name_y,high_school_graduates_(#),attending_coll./univ._(#),attending_coll./univ._(%),private_two-year_(%),private_four-year_(%),public_two-year_(%),public_four-year_(%),ma_community_college_(%),ma_state_university_(%),univ.of_mass._(%),district_name,tests_taken,reading_/_writing,writing,math
0,Abby Kelley Foster Charter Public (District),4450000,713,18.9,"1,425",54.3,3.4,19.7,16.8,0.6,0.1,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abby Kelley Foster Charter Public (District),83.0,57.0,68.7,0.0,29.8,22.8,47.4,22.8,15.8,29.8,Abby Kelley Foster Charter Public (District),12,593.0,NaN,528.0
1,Abington,10000,"1,017",19.8,"2,178",5.0,2.3,11.5,78.7,0.5,0.1,2.0,Abington,100,16,31,37,15,1,47.0,53.0,Abington,69,100,43,22,3,1,0,Abington,115.0,91.0,79.1,0.0,29.7,17.6,51.6,17.6,16.5,17.6,Abington,64,565.0,NaN,534.0
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,201,19.7,538,62.6,0.7,28.4,6.7,0.0,0.2,1.3,Academy Of the Pacific Rim Charter Public (Dis...,109,81,20,4,3,1,92.7,7.3,Academy Of the Pacific Rim Charter Public (Dis...,74,109,46,21,7,0,0,Academy Of the Pacific Rim Charter Public (Dis...,44.0,24.0,54.5,0.0,25.0,33.3,41.7,33.3,25.0,16.7,NaN,NaN,NaN,NaN,NaN
3,Acton-Boxborough,6000000,"2,368",17.1,"5,246",3.2,33.6,6.5,51.6,0.1,0.1,5.0,Acton-Boxborough,"1,070",12,55,158,344,501,6.3,93.7,Acton-Boxborough,451,"1,070",137,136,94,49,35,Acton-Boxborough,451.0,375.0,83.1,0.0,46.1,5.1,48.8,5.1,2.4,18.4,Acton-Boxborough,487,651.0,NaN,682.0
4,Acushnet,30000,400,15.2,913,1.2,1.0,4.2,89.8,0.2,0.0,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,Worthington,3490000,60,6.0,58,0.0,0.0,5.2,91.4,1.7,0.0,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,Wrentham,3500000,404,18.4,893,1.8,3.0,5.4,84.8,0.3,0.2,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,State Totals,0,"502,941",15.5,"912,474",9.4,7.2,22.4,56.5,0.2,0.1,4.1,State Totals,"94,879","16,372","20,723","23,162","20,378","14,244",39.1,60.9,State Totals,"51,911","94,879","25,586","14,802","7,676","2,805","1,042",State Totals,68405.0,43773.0,64.0,0.1,40.0,18.6,41.3,17.8,11.0,17.3,State Totals,"43,337",576.0,NaN,576.0
401,NaN,35040000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,City on a Hill Charter Public School Dudley Sq...,51.0,36.0,70.6,0.0,30.6,27.8,41.7,27.8,16.7,25.0,NaN,NaN,NaN,NaN,NaN
402,NaN,35070000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,City on a Hill Charter Public School New Bedfo...,24.0,8.0,33.3,0.0,12.5,25.0,62.5,25.0,25.0,37.5,NaN,NaN,NaN,NaN,NaN

###### 2020 Graduation Rate (District) All Students 4-Year Graduation Rate

In [68]:
df_grad_rates = pd.read_excel("gradrates.xlsx")

In [69]:
df_grad_rates.columns = df_grad_rates.columns.str.lower().str.replace(" ", "_")
df_grad_rates

,district_name,district_code,#_in_cohort,%_graduated,%_still_in_school,%_non-grad_completers,%_h.s._equiv.,%_dropped_out,%_permanently_excluded
0,Abby Kelley Foster Charter Public (District),4450000,87,95.4,1.1,0.0,0.0,3.4,0.0
1,Abington,10000,118,94.1,3.4,0.0,0.0,2.5,0.0
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,45,93.3,4.4,0.0,2.2,0.0,0.0
3,Acton-Boxborough,6000000,457,97.2,2.0,0.2,0.0,0.7,0.0
4,Advanced Math and Science Academy Charter (Dis...,4300000,134,100.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
298,Winchester,3440000,343,97.1,2.3,0.3,0.0,0.3,0.0
299,Winthrop,3460000,138,89.9,5.8,0.0,0.7,3.6,0.0
300,Woburn,3470000,329,86.0,6.1,0.0,0.6,7.0,0.3
301,Worcester,3480000,"1,838",87.3,6.1,0.5,0.4,5.7,0.0
302,State Totals,0,"74,232",89.0,5.3,0.6,0.4,4.7,0.0

In [70]:
df = pd.merge(df, df_grad_rates, on='district_code', how='outer')
df

/var/folders/c2/zngcssg14mv23nw0yr96s0wm0000gn/T/ipykernel_14881/4223299183.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'district_name_x'} in the result is deprecated and will raise a MergeError in a future version.

,district_name_x,district_code,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,"native_hawaiian,_pacific_islander_%","multi-race,_non-hispanic_%",district_name_y,tests_taken_x,score=1,score=2,score=3,score=4,score=5,%_score_1-2,%_score_3-5,district_name_x,tests_takers,tests_taken_y,one_test,two_tests,three_tests,four_tests,five_or_more_tests,district_name_y,high_school_graduates_(#),attending_coll./univ._(#),attending_coll./univ._(%),private_two-year_(%),private_four-year_(%),public_two-year_(%),public_four-year_(%),ma_community_college_(%),ma_state_university_(%),univ.of_mass._(%),district_name_x,tests_taken,reading_/_writing,writing,math,district_name_y,#_in_cohort,%_graduated,%_still_in_school,%_non-grad_completers,%_h.s._equiv.,%_dropped_out,%_permanently_excluded
0,Abby Kelley Foster Charter Public (District),4450000,713,18.9,"1,425",54.3,3.4,19.7,16.8,0.6,0.1,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abby Kelley Foster Charter Public (District),83.0,57.0,68.7,0.0,29.8,22.8,47.4,22.8,15.8,29.8,Abby Kelley Foster Charter Public (District),12,593.0,NaN,528.0,Abby Kelley Foster Charter Public (District),87,95.4,1.1,0.0,0.0,3.4,0.0
1,Abington,10000,"1,017",19.8,"2,178",5.0,2.3,11.5,78.7,0.5,0.1,2.0,Abington,100,16,31,37,15,1,47.0,53.0,Abington,69,100,43,22,3,1,0,Abington,115.0,91.0,79.1,0.0,29.7,17.6,51.6,17.6,16.5,17.6,Abington,64,565.0,NaN,534.0,Abington,118,94.1,3.4,0.0,0.0,2.5,0.0
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,201,19.7,538,62.6,0.7,28.4,6.7,0.0,0.2,1.3,Academy Of the Pacific Rim Charter Public (Dis...,109,81,20,4,3,1,92.7,7.3,Academy Of the Pacific Rim Charter Public (Dis...,74,109,46,21,7,0,0,Academy Of the Pacific Rim Charter Public (Dis...,44.0,24.0,54.5,0.0,25.0,33.3,41.7,33.3,25.0,16.7,NaN,NaN,NaN,NaN,NaN,Academy Of the Pacific Rim Charter Public (Dis...,45,93.3,4.4,0.0,2.2,0.0,0.0
3,Acton-Boxborough,6000000,"2,368",17.1,"5,246",3.2,33.6,6.5,51.6,0.1,0.1,5.0,Acton-Boxborough,"1,070",12,55,158,344,501,6.3,93.7,Acton-Boxborough,451,"1,070",137,136,94,49,35,Acton-Boxborough,451.0,375.0,83.1,0.0,46.1,5.1,48.8,5.1,2.4,18.4,Acton-Boxborough,487,651.0,NaN,682.0,Acton-Boxborough,457,97.2,2.0,0.2,0.0,0.7,0.0
4,Acushnet,30000,400,15.2,913,1.2,1.0,4.2,89.8,0.2,0.0,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,Worthington,3490000,60,6.0,58,0.0,0.0,5.2,91.4,1.7,0.0,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,Wrentham,3500000,404,18.4,893,1.8,3.0,5.4,84.8,0.3,0.2,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,State Totals,0,"502,941",15.5,"912,474",9.4,7.2,22.4,56.5,0.2,0.1,4.1,State Totals,"94,879","16,372","20,723","23,162","20,378","14,244",39.1,60.9,State Totals,"51,911","94,879","25,586","14,802","7,676","2,805","1,042",State Totals,68405.0,43773.0,64.0,0.1,40.0,18.6,41.3,17.8,11.0,17.3,State Totals,"43,337",576.0,NaN,576.0,State Totals,"74,232",89.0,5.3,0.6,0.4,4.7,0.0
401,NaN,35040000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,City on a Hill Charter Public School Dudley Sq...,51.0,36.0,70.6,0.0,30.6,27.8,41.7,27.8,16.7,25.0,NaN,NaN,NaN,NaN,NaN,City on a Hill Charter Public School Dudley Sq...,44,95.7,0.0,0.0,0.0,4.4,0.0
402,NaN,35070000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,City on a Hill Charter Public School New Bedfo...,24.0,8.0,33.3,0.0,12.5,25.0,62.5,25.0,25.0,37.5,NaN,NaN,NaN,NaN,NaN,City on a Hill Charter Public School New Bedfo...,35,71.4,0.0,11.9,0.0,16.7,0.0

###### Preliminary FY20 Per Pupil Expenditures by School (imported but not merged with larger dataset)

Note: Data gathered by school, not merged with dataset but interesting to look at

In [71]:
df_ppx = pd.read_excel("preliminary-school-ppx-1tab_edited.xlsx")

In [72]:
df_ppx.columns = df_ppx.columns.str.lower().str.replace(" ", "_")
df_ppx.head(10)

,district_code,district,school_code,school_name,grade_level,total_student_ftes,_%_econ_disadv_-_demographic_%_headcount,%_el_-_demographic_%_headcount,%_swd_-_demographic_%_headcount,teacher_ftes,teachers_per_100_students,avg_teacher_salary,district.1,district.2,total_student_ftes.1,district.3,central_office,unnamed:_17,unnamed:_18,unnamed:_19,unnamed:_20,districtcode,school_code.1,schenro,totalschl,totalstatelocal,totalfed,unnamed:_27,org4code,statelocal,federal
0,1,Abington,10001,Abington Early Education Program,PK,95.441441,0.307,0.045,0.398,5,5.238814,93481.368,1.0,10000.0,2146.007205,1.0,18888.0,NaN,NaN,NaN,NaN,10000,10001,95.441441,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,1,Abington,10015,Woodsdale Elementary School,3-4,299.789474,0.239,0.066,0.203,17.3,5.770716,97857.047399,3.0,30000.0,1018.817391,3.0,38888.0,NaN,NaN,NaN,NaN,10000,10015,299.789474,NaN,NaN,NaN,NaN,3.0,NaN,NaN
2,1,Abington,10020,Beaver Brook Elementary,K-2,469.988679,0.227,0.110,0.144,26.7,5.680988,98689.726217,5.0,50000.0,3699.051551,5.0,58888.0,NaN,NaN,NaN,NaN,10000,10020,469.988679,NaN,NaN,NaN,NaN,5.0,NaN,NaN
3,1,Abington,10405,Abington Middle School,5-8,685.008850,0.259,0.059,0.136,38,5.547374,91085.741053,7.0,70000.0,2015.780896,7.0,78888.0,NaN,NaN,NaN,NaN,10000,10405,685.008850,NaN,NaN,NaN,NaN,7.0,NaN,NaN
4,1,Abington,10505,Abington High,9-12,595.778761,0.233,0.046,0.118,39.1,6.562839,88444.876471,8.0,80000.0,1106.870635,8.0,88888.0,NaN,NaN,NaN,NaN,10000,10505,595.778761,NaN,NaN,NaN,NaN,8.0,NaN,NaN
5,3,Acushnet,30025,Acushnet Elementary School,PK-4,570.017391,0.263,0.016,0.127,40.5,7.105046,69845.271358,9.0,90000.0,5869.690909,9.0,98888.0,NaN,NaN,NaN,NaN,30000,30025,570.017391,NaN,NaN,NaN,NaN,9.0,NaN,NaN
6,3,Acushnet,30305,Albert F Ford Middle School,5-8,444.539130,0.251,0.000,0.126,30,6.748562,76252.955333,10.0,100000.0,6096.280983,10.0,108888.0,NaN,NaN,NaN,NaN,30000,30305,444.539130,NaN,NaN,NaN,NaN,10.0,NaN,NaN
7,5,Agawam,50003,Agawam Early Childhood Center,PK,170.386139,0.331,0.000,0.438,9,5.28212,Error,14.0,140000.0,2869.655663,14.0,148888.0,NaN,NaN,NaN,NaN,50000,50003,170.386139,NaN,NaN,NaN,NaN,14.0,NaN,NaN
8,5,Agawam,50010,Clifford M Granger,K-4,256.813171,0.379,0.105,0.168,21.4,8.332906,83115.986916,16.0,160000.0,5986.570712,16.0,168888.0,NaN,NaN,NaN,NaN,50000,50010,256.813171,NaN,NaN,NaN,NaN,16.0,NaN,NaN
9,5,Agawam,50020,Benjamin J Phelps,K-4,343.855716,0.287,0.082,0.105,25.2,7.328655,85524.608333,17.0,170000.0,2640.781818,17.0,178888.0,NaN,NaN,NaN,NaN,50000,50020,343.855716,NaN,NaN,NaN,NaN,17.0,NaN,NaN

In [73]:
# saving a copy of the merged dataset
# df.to_csv('output_MA_DOE_profiles2.csv', index = False)

In [74]:
df = pd.read_csv("MA_DOE_profiles_edited.csv", encoding="utf-8")
df

,district_code,district_name_w_charters,district_name_x,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,"native_hawaiian,_pacific_islander_%","multi-race,_non-hispanic_%",tests_taken_x,score=1_x,score=2_x,score=3_x,score=4_x,score=5_x,%_score_1-2_x,%_score_3-5_x,tests_taken_y,score=1_y,score=2_y,score=3_y,score=4_y,score=5_y,%_score_1-2_y,%_score_3-5_y,tests_takers,tests_taken_x.1,one_test,two_tests,three_tests,four_tests,five_or_more_tests,high_school_graduates_(#),attending_coll./univ._(#),attending_coll./univ._(%),private_two-year_(%),private_four-year_(%),public_two-year_(%),public_four-year_(%),ma_community_college_(%),ma_state_university_(%),univ.of_mass._(%),tests_taken_y.1,reading_/_writing,writing,math,#_in_cohort,%_graduated,%_still_in_school,%_non-grad_completers,%_h.s._equiv.,%_dropped_out,%_permanently_excluded
0,4450000,Abby Kelley Foster Charter Public (District),NaN,713,18.9,"1,425",54.3,3.4,19.7,16.8,0.6,0.1,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,57.0,68.7,0.0,29.8,22.8,47.4,22.8,15.8,29.8,12,593.0,NaN,528.0,87,95.4,1.1,0.0,0.0,3.4,0.0
1,10000,Abington,Abington,"1,017",19.8,"2,178",5.0,2.3,11.5,78.7,0.5,0.1,2.0,100,16,31,37,15,1,47.0,53.0,100,16,31,37,15,1,47.0,53.0,69,100,43,22,3,1,0,115.0,91.0,79.1,0.0,29.7,17.6,51.6,17.6,16.5,17.6,64,565.0,NaN,534.0,118,94.1,3.4,0.0,0.0,2.5,0.0
2,4120000,Academy Of the Pacific Rim Charter Public (Dis...,Academy Of the Pacific Rim Charter Public (Dis...,201,19.7,538,62.6,0.7,28.4,6.7,0.0,0.2,1.3,109,81,20,4,3,1,92.7,7.3,109,81,20,4,3,1,92.7,7.3,74,109,46,21,7,0,0,44.0,24.0,54.5,0.0,25.0,33.3,41.7,33.3,25.0,16.7,NaN,NaN,NaN,NaN,45,93.3,4.4,0.0,2.2,0.0,0.0
3,6000000,Acton-Boxborough,Acton-Boxborough,"2,368",17.1,"5,246",3.2,33.6,6.5,51.6,0.1,0.1,5.0,"1,070",12,55,158,344,501,6.3,93.7,"1,070",12,55,158,344,501,6.3,93.7,451,"1,070",137,136,94,49,35,451.0,375.0,83.1,0.0,46.1,5.1,48.8,5.1,2.4,18.4,487,651.0,NaN,682.0,457,97.2,2.0,0.2,0.0,0.7,0.0
4,30000,Acushnet,NaN,400,15.2,913,1.2,1.0,4.2,89.8,0.2,0.0,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,3470000,Woburn,Woburn,"2,985",13.8,"4,332",7.5,7.1,12.4,68.4,0.8,0.2,3.5,344,36,104,89,71,44,40.7,59.3,344,36,104,89,71,44,40.7,59.3,205,344,124,41,26,11,3,291.0,189.0,64.9,0.0,35.4,23.3,41.3,23.3,10.1,24.9,220,536.0,NaN,536.0,329,86.0,6.1,0.0,0.6,7.0,0.3
397,3480000,Worcester,Worcester,"11,791",14.1,"20,660",17.3,6.2,42.9,29.0,0.2,0.0,4.5,"2,060",957,467,346,192,98,69.1,30.9,"2,060",957,467,346,192,98,69.1,30.9,"1,322","2,060",818,321,137,41,5,1739.0,893.0,51.4,0.0,23.3,33.8,42.9,32.7,24.4,15.2,643,518.0,NaN,521.0,"1,838",87.3,6.1,0.5,0.4,5.7,0.0
398,3490000,Worthington,NaN,60,6.0,58,0.0,0.0,5.2,91.4,1.7,0.0,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,3500000,Wrentham,NaN,404,18.4,893,1.8,3.0,5.4,84.8,0.3,0.2,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,0,State Totals,State Totals,"502,941",15.5,"912,474",9.4,7.2,22.4,56.5,0.2,0.1,4.1,"94,879","16,372","20,723","23,162","20,378","14,244",39.1,60.9,"94,879","16,372","20,723","23,162","20,378","14,244",39.1,60.9,"51,911","94,879","25,586","14,802","7,676","2,805","1,042",68405.0,43773.0,64.0,0.1,40.0,18.6,41.3,17.8,11.0,17.3,"43,337",576.0,NaN,576.0,"74,232",89.0,5.3,0.6,0.4,4.7,0.0

In [75]:
df[df.district_name_w_charters.str.contains("Manchester")]

,district_code,district_name_w_charters,district_name_x,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,"native_hawaiian,_pacific_islander_%","multi-race,_non-hispanic_%",tests_taken_x,score=1_x,score=2_x,score=3_x,score=4_x,score=5_x,%_score_1-2_x,%_score_3-5_x,tests_taken_y,score=1_y,score=2_y,score=3_y,score=4_y,score=5_y,%_score_1-2_y,%_score_3-5_y,tests_takers,tests_taken_x.1,one_test,two_tests,three_tests,four_tests,five_or_more_tests,high_school_graduates_(#),attending_coll./univ._(#),attending_coll./univ._(%),private_two-year_(%),private_four-year_(%),public_two-year_(%),public_four-year_(%),ma_community_college_(%),ma_state_university_(%),univ.of_mass._(%),tests_taken_y.1,reading_/_writing,writing,math,#_in_cohort,%_graduated,%_still_in_school,%_non-grad_completers,%_h.s._equiv.,%_dropped_out,%_permanently_excluded
198,6980000,Manchester Essex Regional,Manchester Essex Regional,671,14.8,"1,271",0.5,1.2,1.3,96.5,0.0,0.0,0.6,391,34,53,128,107,69,22.3,77.7,391,34,53,128,107,69,22.3,77.7,160,391,43,46,43,15,13,112.0,93.0,83.0,0.0,40.9,11.8,47.3,9.7,2.2,23.7,60,617.0,NaN,626.0,111,99.1,0.9,0.0,0.0,0.0,0.0

### Combining DOE data with town, school district, and high school name

##### Essex County MA Public High Schools List â€” compiled from Mass. Secretary of State's list

MA: A Listing of Counties and the Cities and Towns Within
source: https://www.sec.state.ma.us/cis/cisctlist/ctlistcoun.htm

In [76]:
df_essex_county = pd.read_excel("Essex_county_public_hs2.xlsx")

In [77]:
df_essex_county.columns = df_essex_county.columns.str.lower().str.replace(" ", "_")
df_essex_county

,towns_essex_county_ma,district_name_x,school_name
0,Amesbury,Amesbury,Amesbury High School
1,Andover,Andover,Andover High School
2,Beverly,Beverly,Beverly High School
3,Boxford,Masconomet,Masconomet Regional High School
4,Danvers,Danvers,Danvers High School
5,Essex,Manchester Essex Regional,Manchester Essex Regional High School
6,Georgetown,Georgetown,Georgetown High School
7,Gloucester,Gloucester,Gloucester High School
8,Groveland,Pentucket,Pentucket Regional High School
9,Hamilton,Hamilton-Wenham,Hamilton-Wenham Regional High School
10,Haverhill,Haverhill,Haverhill High School
11,Ipswich,Ipswich,Ipswich High School
12,Lawrence,Lawrence,Lawrence High School
13,Lynn,Lynn,Lynn Classical High School + Lynn English High...
14,Lynnfield,Lynnfield,Lynnfield High School
15,Manchester,Manchester Essex Regional,Manchester Essex Regional High School
16,Marblehead,Marblehead,Marblehead High School
17,Merrimac,Pentucket,Pentucket Regional High School
18,Methuen,Methuen,Methuen High School
19,Middleton,Masconomet,Masconomet Regional High School
20,Nahant,Swampscott,Swampscott High School
21,Newbury,Triton,Triton Regional High School
22,Newburyport,Newburyport,Newburyport High School
23,North Andover,North Andover,North Andover High School
24,Peabody,Peabody,Peabody Veterans Memorial High School
25,Rockport,Rockport,Rockport High School
26,Rowley,Triton,Triton Regional High School
27,Salem,Salem,Salem High School
28,Salisbury,Triton,Triton Regional High School
29,Saugus,Saugus,Saugus High School
30,Swampscott,Swampscott,Swampscott High School
31,Topsfield,Masconomet,Masconomet Regional High School
32,Wenham,Hamilton-Wenham,Hamilton-Wenham Regional High School
33,West Newbury,Pentucket,Pentucket Regional High School

In [78]:
df = pd.merge(df, df_essex_county, on='district_name_x', how='inner')
df.head()

,district_code,district_name_w_charters,district_name_x,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,"native_hawaiian,_pacific_islander_%","multi-race,_non-hispanic_%",tests_taken_x,score=1_x,score=2_x,score=3_x,score=4_x,score=5_x,%_score_1-2_x,%_score_3-5_x,tests_taken_y,score=1_y,score=2_y,score=3_y,score=4_y,score=5_y,%_score_1-2_y,%_score_3-5_y,tests_takers,tests_taken_x.1,one_test,two_tests,three_tests,four_tests,five_or_more_tests,high_school_graduates_(#),attending_coll./univ._(#),attending_coll./univ._(%),private_two-year_(%),private_four-year_(%),public_two-year_(%),public_four-year_(%),ma_community_college_(%),ma_state_university_(%),univ.of_mass._(%),tests_taken_y.1,reading_/_writing,writing,math,#_in_cohort,%_graduated,%_still_in_school,%_non-grad_completers,%_h.s._equiv.,%_dropped_out,%_permanently_excluded,towns_essex_county_ma,school_name
0,70000,Amesbury,Amesbury,"1,115",15.1,"1,869",1.9,1.2,9.7,82.6,0.2,0.1,4.3,126,18,34,46,19,9,41.3,58.7,126,18,34,46,19,9,41.3,58.7,84,126,43,40,1,0,0,151.0,102.0,67.5,0.0,33.3,24.5,42.2,22.5,3.9,13.7,45,596.0,NaN,570.0,165,87.9,9.1,0.0,0.0,3.0,0.0,Amesbury,Amesbury High School
1,90000,Andover,Andover,"3,729",12.3,"5,614",2.7,19.0,7.9,66.5,0.1,0.1,3.7,986,70,182,272,289,173,25.6,74.4,986,70,182,272,289,173,25.6,74.4,495,986,207,157,75,42,14,433.0,351.0,81.1,0.0,52.4,7.4,40.2,6.6,6.0,16.5,456,607.0,NaN,611.0,441,95.2,3.9,0.0,0.0,0.9,0.0,Andover,Andover High School
2,300000,Beverly,Beverly,"1,732",16.4,"4,655",3.5,2.5,14.9,75.0,0.1,0.0,4.0,269,25,92,82,52,18,43.5,56.5,269,25,92,82,52,18,43.5,56.5,158,269,87,41,23,5,2,289.0,217.0,75.1,0.0,36.9,16.6,46.5,16.6,11.5,14.7,185,548.0,NaN,522.0,310,91.0,3.9,0.0,0.3,4.8,0.0,Beverly,Beverly High School
3,710000,Danvers,Danvers,"2,116",16.8,"3,327",2.3,2.4,9.1,83.6,0.1,0.0,2.6,361,70,90,101,69,31,44.3,55.7,361,70,90,101,69,31,44.3,55.7,186,361,84,61,22,10,9,230.0,163.0,70.9,0.0,39.3,14.7,46.0,14.7,13.5,11.0,145,549.0,NaN,530.0,237,95.8,3.0,0.0,0.4,0.8,0.0,Danvers,Danvers High School
4,1050000,Georgetown,Georgetown,623,14.9,"1,223",0.8,1.0,2.4,93.7,0.0,0.2,2.0,117,3,12,33,39,30,12.8,87.2,117,3,12,33,39,30,12.8,87.2,66,117,31,22,10,3,0,109.0,90.0,82.6,0.0,41.1,14.4,44.4,14.4,2.2,12.2,114,577.0,NaN,569.0,112,95.5,1.8,0.0,0.0,2.7,0.0,Georgetown,Georgetown High School

In [79]:
df = df.rename(columns={'towns_essex_county_ma': 'towns'})

In [80]:
df.sort_values(by = 'towns', ascending=True)

,district_code,district_name_w_charters,district_name_x,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,"native_hawaiian,_pacific_islander_%","multi-race,_non-hispanic_%",tests_taken_x,score=1_x,score=2_x,score=3_x,score=4_x,score=5_x,%_score_1-2_x,%_score_3-5_x,tests_taken_y,score=1_y,score=2_y,score=3_y,score=4_y,score=5_y,%_score_1-2_y,%_score_3-5_y,tests_takers,tests_taken_x.1,one_test,two_tests,three_tests,four_tests,five_or_more_tests,high_school_graduates_(#),attending_coll./univ._(#),attending_coll./univ._(%),private_two-year_(%),private_four-year_(%),public_two-year_(%),public_four-year_(%),ma_community_college_(%),ma_state_university_(%),univ.of_mass._(%),tests_taken_y.1,reading_/_writing,writing,math,#_in_cohort,%_graduated,%_still_in_school,%_non-grad_completers,%_h.s._equiv.,%_dropped_out,%_permanently_excluded,towns,school_name
0,70000,Amesbury,Amesbury,"1,115",15.1,"1,869",1.9,1.2,9.7,82.6,0.2,0.1,4.3,126,18,34,46,19,9,41.3,58.7,126,18,34,46,19,9,41.3,58.7,84,126,43,40,1,0,0,151.0,102.0,67.5,0.0,33.3,24.5,42.2,22.5,3.9,13.7,45,596.0,NaN,570.0,165,87.9,9.1,0.0,0.0,3.0,0.0,Amesbury,Amesbury High School
1,90000,Andover,Andover,"3,729",12.3,"5,614",2.7,19.0,7.9,66.5,0.1,0.1,3.7,986,70,182,272,289,173,25.6,74.4,986,70,182,272,289,173,25.6,74.4,495,986,207,157,75,42,14,433.0,351.0,81.1,0.0,52.4,7.4,40.2,6.6,6.0,16.5,456,607.0,NaN,611.0,441,95.2,3.9,0.0,0.0,0.9,0.0,Andover,Andover High School
2,300000,Beverly,Beverly,"1,732",16.4,"4,655",3.5,2.5,14.9,75.0,0.1,0.0,4.0,269,25,92,82,52,18,43.5,56.5,269,25,92,82,52,18,43.5,56.5,158,269,87,41,23,5,2,289.0,217.0,75.1,0.0,36.9,16.6,46.5,16.6,11.5,14.7,185,548.0,NaN,522.0,310,91.0,3.9,0.0,0.3,4.8,0.0,Beverly,Beverly High School
16,7050000,Masconomet,Masconomet,940,15.8,"1,692",0.7,3.7,3.1,90.0,0.1,0.2,2.4,339,11,45,80,128,75,16.5,83.5,339,11,45,80,128,75,16.5,83.5,207,339,113,63,24,7,0,281.0,248.0,88.3,0.0,47.2,9.3,43.5,8.9,5.2,13.7,282,592.0,NaN,601.0,291,95.9,2.4,0.0,0.0,1.7,0.0,Boxford,Masconomet Regional High School
3,710000,Danvers,Danvers,"2,116",16.8,"3,327",2.3,2.4,9.1,83.6,0.1,0.0,2.6,361,70,90,101,69,31,44.3,55.7,361,70,90,101,69,31,44.3,55.7,186,361,84,61,22,10,9,230.0,163.0,70.9,0.0,39.3,14.7,46.0,14.7,13.5,11.0,145,549.0,NaN,530.0,237,95.8,3.0,0.0,0.4,0.8,0.0,Danvers,Danvers High School
13,6980000,Manchester Essex Regional,Manchester Essex Regional,671,14.8,"1,271",0.5,1.2,1.3,96.5,0.0,0.0,0.6,391,34,53,128,107,69,22.3,77.7,391,34,53,128,107,69,22.3,77.7,160,391,43,46,43,15,13,112.0,93.0,83.0,0.0,40.9,11.8,47.3,9.7,2.2,23.7,60,617.0,NaN,626.0,111,99.1,0.9,0.0,0.0,0.0,0.0,Essex,Manchester Essex Regional High School
4,1050000,Georgetown,Georgetown,623,14.9,"1,223",0.8,1.0,2.4,93.7,0.0,0.2,2.0,117,3,12,33,39,30,12.8,87.2,117,3,12,33,39,30,12.8,87.2,66,117,31,22,10,3,0,109.0,90.0,82.6,0.0,41.1,14.4,44.4,14.4,2.2,12.2,114,577.0,NaN,569.0,112,95.5,1.8,0.0,0.0,2.7,0.0,Georgetown,Georgetown High School
5,1070000,Gloucester,Gloucester,"1,446",13.1,"2,691",1.8,1.2,12.9,79.7,0.3,0.3,3.8,160,33,39,42,28,18,45.0,55.0,160,33,39,42,28,18,45.0,55.0,96,160,50,32,10,4,0,177.0,87.0,49.2,0.0,39.1,28.7,32.2,26.4,17.2,9.2,95,542.0,NaN,532.0,190,83.7,9.5,0.5,0.5,5.8,0.0,Gloucester,Gloucester High School
23,7450000,Pentucket,Pentucket,"1,226",16.3,"2,191",0.4,1.2,6.0,89.9,0.1,0.0,2.5,332,35,87,104,68,38,36.7,63.3,332,35,87,104,68,38,36.7,63.3,179,332,75,64,32,7,1,182.0,146.0,80.2,0.0,40.4,13.0,46.6,13.0,4.1,18.5,198,581.0,NaN,572.0,188,94.7,1.6,0.0,0.5,3.2,0.0,Groveland,Pentucket Regional High School
6,6750000,Hamilton-Wenham,Hamilton-Wenham,"1,221",11.8,"1,683",0.5,3.7,5.2,87.8,0.0,0.2,2.7,219,38,45,61,53,22,37.9,62.1,219,38,45,61,53,22,37.9,62.1,133,219,74,40,14,3,2,146.0,119.0,81.5,0.0,57.1,5.9,37.0,5.0,1.7,10.9,124,592.0,NaN,587.0,143,97.2,1.4,0.7,0.0,0.7,0.0,Hamilton,Hamilton-Wenham Regional High School
8,1280000,Haverhill,Haverhill,"3,998",17.2,"7,848",5.2,1.8,40.9,49.7,0.2,0.1,2.1,483,104,145,131,75,28,51.6,48.4,483,104,145,131,75,28,51.6,48.4,275,483,142,78,38,14,3,413.0,235.0,56.9,0.0,28.5,34.9,36.6,34.0,6.0,17.0,110,547.0,NaN,545.0,491,80.4,10.4,0.4,1.0,7.7,0.0,Haverhill,Haverhill High School
9,1440000,Ipswich,Ipswich,"1,017",15.1,"1,604",1.3,1.3,7.1,86.3,0.1,0.0,4.0,266,9,48,63,66,80,21.4,78.6,266,9,48,63,66,80,21.4,78.6,121,266,44,31,30,10,6,133.0,93.0,69.9,0.0,45.2,11.8,43.0,11.8,7.5,19.4,145,575.0,NaN,572.0,142,90.8,4.2,0.0,0.0,4.9,0.0,Ipswich,Ipswich High School
10,1490000,Lawrence,Lawrence,"6,805",17.9,"13,204",1.3,1.2,93.8,3.2,0.0,0.0,0.4,362,182,94,41,25,20,76.2,23.8,362,182,94,41,25,20,76.2,23.8,210,362,105,75,16,11,3,759.0,347.0,45.7,0.3,19.6,55.6,24.5,53.9,4.0,18.4,13,537.0,NaN,541.0,984,72.8,12.0,5.9,0.5,8.8,0.0,Lawrence,Lawrence High School
11,1630000,Lynn,Lynn,"5,093",15.4,"12,825",8.2,7.5,67.9,13.0,0.3,0.0,3.1,781,370,229,115,48,19,76.7,23.3,781,370,229,115,48,19,76.7,23.3,428,781,237,86,60,35,10,1062.0,436.0,41.1,0.0,27.8,32.3,39.9,31.2,21.8,15.4,115,533.0,NaN,521.0,"1,254",79.0,6.1,0.6,0.6,13.7,0.0,Lynn,Lynn Classical High School + Lynn English High...
12,1640000,Lynnfield,Lynnfield,861,17.6,"2,179",1.9,6.9,5.8,82.2,0.0,0.0,3.2,403,43,90,119,96,55,33.0,67.0,403,43,90,119,96,55,33.0,67.0,188,403,76,54,30,17,11,157.0,134.0,85.4,0.0,44.0,9.0,47.0,8.2,5.2,16.4,168,562.0,NaN,565.0,159,97.5,1.3,0.0,0.0,1.3,0.0,Lynnfield,Lynnfield High School
14,6980000,Manchester Essex Regional,Manchester Essex Regional,671,14.8,"1,271",0.5,1.2,1.3,96.5,0.0,0.0,0.6,391,34,53,128,107,69,22.3,77.7,391,34,53,128,107,69,22.3,77.7,160,391,43,46,43,15,13,112.0,93.0,83.0,0.0,40.9,11.8,47.3,9.7,2.2,23.7,60,617.0,NaN,626.0,111,99.1,0.9,0.0,0.0,0.0,0.0,Manchester,Manchester Essex Regional High School
15,1680000,Marblehead,Marblehead,"1,603",16.2,"2,723",3.0,1.4,6.9,85.2,0.0,0.0,3.4,701,61,183,199,162,96,34.8,65.2,701,61,183,199,162,96,34.8,65.2,329,701,138,90,45,36,20,253.0,200.0,79.1,0.0,45.5,2.5,52.0,2.0,7.0,10.0,289,608.0,NaN,599.0,263,95.1,3.4,0.4,0.4,0.8,0.0,Marblehead,Marblehead High School
24,7450000,Pentucket,Pentucket,"1,226",16.3,"2,191",0.4,1.2,6.0,89.9,0.1,0.0,2.5,332,35,87,104,68,38,36.7,63.3,332,35,87,104,68,38,36.7,63.3,179,332,75,64,32,7,1,182.0,146.0,80.2,0.0,40.4,13.0,46.6,13.0,4.1,18.5,198,581.0,NaN,572.0,188,94.7,1.6,0.0,0.5,3.2,0.0,Merrimac,Pentucket Regional High School
19,1810000,Methuen,Methuen,"3,001",18.3,"6,572",3.8,3.7,46.0,42.6,0.1,0.1,3.9,576,122,188,167,80,19,53.8,46.2,576,122,188,167,80,19,53.8,46.2,354,576,205,95,41,8,5,453.0,272.0,60.0,0.0,29.0,32.7,38.2,29.8,9.6,19.5,144,551.0,NaN,544.0,484,93.2,3.5,0.2,0.4,2.7,0.0,Methuen,Methuen High School
17,7050000,Masconomet,Masconomet,940,15.8,"1,692",0.7,3.7,3.1,90.0,0.1,0.2,2.4,339,11,45,80,128,75,16.5,83.5,339,11,45,80,128,75,16.5,83.5,207,339,113,63,24,7,0,281.0,248.0,88.3,0.0,47.2,9.3,43.5,8.9,5.2,13.7,282,592.0,NaN,601.0,291,95.9,2.4,0.0,0.0,1.7,0.0,Middleton,Masconomet Regional High School
29,2910000,Swampscott,Swampscott,"1,208",16.8,"2,134",3.7,2.7,12.1,78.1,0.2,0.0,3.1,439,32,105,127,105,70,31.2,68.8,439,32,105,127,105,70,31.2,68.8,189,439,62,49,48,19,11,160.0,124.0,77.5,0.0,37.1,10.5,52.4,10.5,12.1,12.9,128,606.0,NaN,596.0,163,95.7,3.7,0.0,0.0,0.6,0.0,Nahant,Swampscott High School
31,7730000,Triton,Triton,"1,124",16.9,"2,198",1.6,2.1,3.9,90.1,0.1,0.1,2.0,129,7,33,41,31,17,31.0,69.0,129,7,33,41,31,17,31.0,69.0,77,129,44,19,10,3,1,174.0,117.0,67.2,0.0,30.8,32.5,36.8,30.8,7.7,14.5,63,595.0,NaN,585.0,190,89.5,4.2,0.5,2.1,3.7,0.0,Newbury,Triton Regional High School
20,2040000,Newburyport,Newburyport,"1,712",14.0,"2,150",0.9,1.9,4.3,90.3,0.0,0.0,2.6,379,61,83,104,90,41,38.0,62.0,379,61,83,104,90,41,38.0,62.0,193,379,78,64,35,12,4,178.0,145.0,81.5,0.0,43.4,12.4,44.1,11.0,4.8,13.1,182,581.0,NaN,583.0,186,94.6,4.3,0.0,0.5,0.5,0.0,Newburyport,Newburyport High School
21,2110000,North Andover,North Andover,"3,044",18.0,"4,559",2.9,7.6,13.5,72.5,0.1,0.1,3.3,455,23,68,135,133,96,20.0,80.0,455,23,68,135,133,96,20.0,80.0,260,455,126,87,37,8,2,329.0,273.0,83.0,0.0,48.4,12.1,39.6,11.4,2.9,18.3,500,576.0,NaN,567.0,333,97.3,1.8,0.6,0.0,0.3,0.0,North Andover,North Andover High School
22,2290000,Peabody,Peabody,"2,964",16.4,"5,813",3.8,2.1,19.4,72.5,0.2,0.0,2.0,308,30,104,79,73,22,43.5,56.5,308,30,104,79,73,22,43.5,56.5,188,308,107,55,13,13,0,335.0,204.0,60.9,0.0,37.7,20.6,41.7,19.1,18.6,12.3,169,537.0,NaN,530.0,374,88.0,5.9,0.3,0.0,5.9,0.0,Peabody,Peabody Veterans Memorial High School
26,2520000,Rockport,Rockport,459,14.7,770,0.7,1.8,3.6,90.4,0.0,0.1,3.4,147,49,41,34,19,4,61.2,38.8,147,49,41,34,19,4,61.2,38.8,65,147,23,15,16,9,2,75.0,50.0,66.7,0.0,48.0,6.0,46.0,6.0,10.0,12.0,29,603.0,NaN,589.0,79,94.9,2.5,1.3,0.0,1.3,0.0,Rockport,Rockport High School
32,7730000,Triton,Triton,"1,124",16.9,"2,198",1.6,2.1,3.9,90.1,0.1,0.1,2.0,129,7,33,41,31,17,31.0,69.0,129,7,33,41,31,17,31.0,69.0,77,129,44,19,10,3,1,174.0,117.0,67.2,0.0,30.8,32.5,36.8,30.8,7.7,14.5,63,595.0,NaN,585.0,190,89.5,4.2,0.5,2.1,3.7,0.0,Rowley,Triton Regional High School
27,2580000,Salem,Salem,"2,245",13.5,"3,772",6.6,2.6,43.9,42.4,0.0,0.0,4.5,132,21,37,34,21,19,43.9,56.1,132,21,37,34,21,19,43.9,56.1,59,132,28,11,9,5,6,219.0,110.0,50.2,0.9,27.3,21.8,50.0,20.9,33.6,9.1,61,531.0,NaN,511.0,276,73.9,11.2,3.6,0.4,10.9,0.0,Salem,Salem High School
33,7730000,Triton,Triton,"1,124",16.9,"2,198",1.6,2.1,3.9,90.1,0.1,0.1,2.0,129,7,33,41,31,17,31.0,69.0,129,7,33,41,31,17,31.0,69.0,77,129,44,19,10,3,1,174.0,117.0,67.2,0.0,30.8,32.5,36.8,30.8,7.7,14.5,63,595.0,NaN,585.0,190,89.5,4.2,0.5,2.1,3.7,0.0,Salisbury,Triton Regional High School
28,2620000,Saugus,Saugus,"1,099",17.0,"2,425",5.4,5.5,22.8,62.5,0.8,0.4,2.6,178,38,50,41,35,14,49.4,50.6,178,38,50,41,35,14,49.4,50.6,103,178,50,35,14,4,0,162.0,102.0,63.0,0.0,36.3,15.7,48.0,15.7,15.7,22.5,56,532.0,NaN,529.0,179,87.7,3.9,0.6,0.6,7.3,0.0,Saugus,Saugus High School
30,2910000,Swampscott,Swampscott,"1,208",16.8,"2,134",3.7,2.7,12.1,78.1,0.2,0.0,3.1,439,32,105,127,105,70,31.2,68.8,439,32,105,127,105,70,31.2,68.8,189,439,62,49,48,19,11,160.0,124.0,77.5,0.0,37.1,10.5,52.4,10.5,12.1,12.9,128,606.0,NaN,596.0,163,95.7,3.7,0.0,0.0,0.6,0.0,Swampscott,Swampscott High School
18,7050000,Masconomet,Masconomet,940,15.8,"1,692",0.7,3.7,3.1,90.0,0.1,0.2,2.4,339,11,45,80,128,75,16.5,83.5,339,11,45,80,128,75,16.5,83.5,207,339,113,63,24,7,0,281.0,248.0,88.3,0.0,47.2,9.3,43.5,8.9,5.2,13.7,282,592.0,NaN,601.0,291,95.9,2.4,0.0,0.0,1.7,0.0,Topsfield,Masconomet Regional High School
7,6750000,Hamilton-Wenham,Hamilton-Wenham,"1,221",11.8,"1,683",0.5,3.7,5.2,87.8,0.0,0.2,2.7,219,38,45,61,53,22,37.9,62.1,219,38,45,61,53,22,37.9,62.1,133,219,74,40,14,3,2,146.0,119.0,81.5,0.0,57.1,5.9,37.0,5.0,1.7,10.9,124,592.0,NaN,587.0,143,97.2,1.4,0.7,0.0,0.7,0.0,Wenham,Hamilton-Wenham Regional High School
25,7450000,Pentucket,Pentucket,"1,226",16.3,"2,191",0.4,1.2,6.0,89.9,0.1,0.0,2.5,332,35,87,104,68,38,36.7,63.3,332,35,87,104,68,38,36.7,63.3,179,332,75,64,32,7,1,182.0,146.0,80.2,0.0,40.4,13.0,46.6,13.0,4.1,18.5,198,581.0,NaN,572.0,188,94.7,1.6,0.0,0.5,3.2,0.0,West Newbury,Pentucket Regional High School

Checking + Cleaning dataset

In [81]:
df.head(3)

,district_code,district_name_w_charters,district_name_x,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,"native_hawaiian,_pacific_islander_%","multi-race,_non-hispanic_%",tests_taken_x,score=1_x,score=2_x,score=3_x,score=4_x,score=5_x,%_score_1-2_x,%_score_3-5_x,tests_taken_y,score=1_y,score=2_y,score=3_y,score=4_y,score=5_y,%_score_1-2_y,%_score_3-5_y,tests_takers,tests_taken_x.1,one_test,two_tests,three_tests,four_tests,five_or_more_tests,high_school_graduates_(#),attending_coll./univ._(#),attending_coll./univ._(%),private_two-year_(%),private_four-year_(%),public_two-year_(%),public_four-year_(%),ma_community_college_(%),ma_state_university_(%),univ.of_mass._(%),tests_taken_y.1,reading_/_writing,writing,math,#_in_cohort,%_graduated,%_still_in_school,%_non-grad_completers,%_h.s._equiv.,%_dropped_out,%_permanently_excluded,towns,school_name
0,70000,Amesbury,Amesbury,"1,115",15.1,"1,869",1.9,1.2,9.7,82.6,0.2,0.1,4.3,126,18,34,46,19,9,41.3,58.7,126,18,34,46,19,9,41.3,58.7,84,126,43,40,1,0,0,151.0,102.0,67.5,0.0,33.3,24.5,42.2,22.5,3.9,13.7,45,596.0,NaN,570.0,165,87.9,9.1,0.0,0.0,3.0,0.0,Amesbury,Amesbury High School
1,90000,Andover,Andover,"3,729",12.3,"5,614",2.7,19.0,7.9,66.5,0.1,0.1,3.7,986,70,182,272,289,173,25.6,74.4,986,70,182,272,289,173,25.6,74.4,495,986,207,157,75,42,14,433.0,351.0,81.1,0.0,52.4,7.4,40.2,6.6,6.0,16.5,456,607.0,NaN,611.0,441,95.2,3.9,0.0,0.0,0.9,0.0,Andover,Andover High School
2,300000,Beverly,Beverly,"1,732",16.4,"4,655",3.5,2.5,14.9,75.0,0.1,0.0,4.0,269,25,92,82,52,18,43.5,56.5,269,25,92,82,52,18,43.5,56.5,158,269,87,41,23,5,2,289.0,217.0,75.1,0.0,36.9,16.6,46.5,16.6,11.5,14.7,185,548.0,NaN,522.0,310,91.0,3.9,0.0,0.3,4.8,0.0,Beverly,Beverly High School

In [82]:
# df.to_csv('output_MA_DOE_Essex_county_profiles.csv', index = False)

##### Safety Check: Using the backup merged dataset as input in case something goes wrong

In [83]:
df = pd.read_csv("input_MA_DOE_Essex_county_profiles.csv", encoding="utf-8")
df.head()

,district_code,district_name_w_charters,district_name_x,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,"native_hawaiian,_pacific_islander_%","multi-race,_non-hispanic_%",tests_taken_x,score=1_x,score=2_x,score=3_x,score=4_x,score=5_x,%_score_1-2_x,%_score_3-5_x,tests_taken_y,score=1_y,score=2_y,score=3_y,score=4_y,score=5_y,%_score_1-2_y,%_score_3-5_y,tests_takers,tests_taken_x.1,one_test,two_tests,three_tests,four_tests,five_or_more_tests,high_school_graduates_(#),attending_coll./univ._(#),attending_coll./univ._(%),private_two-year_(%),private_four-year_(%),public_two-year_(%),public_four-year_(%),ma_community_college_(%),ma_state_university_(%),univ.of_mass._(%),tests_taken_y.1,reading_/_writing,writing,math,#_in_cohort,%_graduated,%_still_in_school,%_non-grad_completers,%_h.s._equiv.,%_dropped_out,%_permanently_excluded,towns,school_name
0,70000,Amesbury,Amesbury,"1,115",15.1,"1,869",1.9,1.2,9.7,82.6,0.2,0.1,4.3,126,18,34,46,19,9,41.3,58.7,126,18,34,46,19,9,41.3,58.7,84,126,43,40,1,0,0,151,102,67.5,0.0,33.3,24.5,42.2,22.5,3.9,13.7,45,596,NaN,570,165,87.9,9.1,0.0,0.0,3.0,0,Amesbury,Amesbury High School
1,90000,Andover,Andover,"3,729",12.3,"5,614",2.7,19.0,7.9,66.5,0.1,0.1,3.7,986,70,182,272,289,173,25.6,74.4,986,70,182,272,289,173,25.6,74.4,495,986,207,157,75,42,14,433,351,81.1,0.0,52.4,7.4,40.2,6.6,6.0,16.5,456,607,NaN,611,441,95.2,3.9,0.0,0.0,0.9,0,Andover,Andover High School
2,300000,Beverly,Beverly,"1,732",16.4,"4,655",3.5,2.5,14.9,75.0,0.1,0.0,4.0,269,25,92,82,52,18,43.5,56.5,269,25,92,82,52,18,43.5,56.5,158,269,87,41,23,5,2,289,217,75.1,0.0,36.9,16.6,46.5,16.6,11.5,14.7,185,548,NaN,522,310,91.0,3.9,0.0,0.3,4.8,0,Beverly,Beverly High School
3,710000,Danvers,Danvers,"2,116",16.8,"3,327",2.3,2.4,9.1,83.6,0.1,0.0,2.6,361,70,90,101,69,31,44.3,55.7,361,70,90,101,69,31,44.3,55.7,186,361,84,61,22,10,9,230,163,70.9,0.0,39.3,14.7,46.0,14.7,13.5,11.0,145,549,NaN,530,237,95.8,3.0,0.0,0.4,0.8,0,Danvers,Danvers High School
4,1050000,Georgetown,Georgetown,623,14.9,"1,223",0.8,1.0,2.4,93.7,0.0,0.2,2.0,117,3,12,33,39,30,12.8,87.2,117,3,12,33,39,30,12.8,87.2,66,117,31,22,10,3,0,109,90,82.6,0.0,41.1,14.4,44.4,14.4,2.2,12.2,114,577,NaN,569,112,95.5,1.8,0.0,0.0,2.7,0,Georgetown,Georgetown High School

##### Merging U.S. Census bureau data for Essex County

In [84]:
# Census.gov Massachusetts Basic Facts
# data source: https://www.census.gov/quickfacts/fact/table/swampscotttownessexcountymassachusetts/INC110219

In [85]:
# Note: was not able to download data for the towns: Essex, Nahant, Wenham, West Newbury, 
# however these towns are in regional school districts so I substituted census info for another town in the district 
# Wenham = Hamilton, West Newbury = Groveland, Essex = Manchester-by-the-sea, Nahant = Swampscott

In [86]:
df_ma_essex_county_census = pd.read_csv("MA_essex_county_census_info4.csv", encoding="utf-8")
df_ma_essex_county_census.head(50)

,towns,Fact,"Population Estimates, July 1 2021, (V2021)","Population estimates base, April 1, 2020, (V2021)","Population, percent change - April 1, 2020 (estimates base) to July 1, 2021, (V2021)","Population, Census, April 1, 2020","Population, Census, April 1, 2010","Persons under 5 years, percent","Persons under 18 years, percent","Persons 65 years and over, percent","Female persons, percent","White alone, percent","Black or African American alone, percent","American Indian and Alaska Native alone, percent","Asian alone, percent","Native Hawaiian and Other Pacific Islander alone, percent","Two or More Races, percent","Hispanic or Latino, percent","White alone, not Hispanic or Latino, percent","Veterans, 2015-2019","Foreign born persons, percent, 2015-2019","Housing units, July 1, 2019, (V2019)","Owner-occupied housing unit rate, 2015-2019","Median value of owner-occupied housing units, 2015-2019","Median selected monthly owner costs -with a mortgage, 2015-2019","Median selected monthly owner costs -without a mortgage, 2015-2019","Median gross rent, 2015-2019","Building permits, 2020","Households, 2015-2019","Persons per household, 2015-2019","Living in same house 1 year ago, percent of persons age 1 year+, 2015-2019","Language other than English spoken at home, percent of persons age 5 years+, 2015-2019","Households with a computer, percent, 2015-2019","Households with a broadband Internet subscription, percent, 2015-2019","High school graduate or higher, percent of persons age 25 years+, 2015-2019","Bachelor's degree or higher, percent of persons age 25 years+, 2015-2019","With a disability, under age 65 years, percent, 2015-2019","Persons without health insurance, under age 65 years, percent","In civilian labor force, total, percent of population age 16 years+, 2015-2019","In civilian labor force, female, percent of population age 16 years+, 2015-2019","Total accommodation and food services sales, 2012 ($1,000)","Total health care and social assistance receipts/revenue, 2012 ($1,000)","Total manufacturers shipments, 2012 ($1,000)","Total retail sales, 2012 ($1,000)","Total retail sales per capita, 2012","Mean travel time to work (minutes), workers age 16 years+, 2015-2019","Median household income (in 2019 dollars), 2015-2019","Per capita income in past 12 months (in 2019 dollars), 2015-2019","Persons in poverty, percent","Total employer establishments, 2019","Total employment, 2019","Total annual payroll, 2019 ($1,000)","Total employment, percent change, 2018-2019","Total nonemployer establishments, 2018","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010",FIPS Code
0,Amesbury,"Amesbury Town city, Massachusetts",NaN,NaN,NaN,17366,16283,0.044,0.197,0.168,0.513,0.961,0.006,0.003,0.011,0.000,0.019,0.025,0.938,814,0.043,X,0.702,336200,2252,866,1195,X,7215,2.37,0.882,0.044,0.928,0.878,0.942,0.411,0.098,0.018,0.708,0.668,25617,61249,246210,112942,6830.0,32.6,82468,42607,0.063,X,X,X,X,X,1666,817,761,30,1587,216,1395,1327.8,12.26,"""2501260"""
1,Andover,"Andover CDP, Massachusetts",NaN,NaN,NaN,9735,8762,0.038,0.166,0.194,0.534,0.870,0.026,0.001,0.079,0.000,0.023,0.025,0.847,409,0.135,X,0.720,564200,2713,1096,1006,X,3472,2.15,0.860,0.165,0.918,0.890,0.966,0.700,0.052,0.021,0.647,0.596,X,X,X,X,NaN,32.5,95600,55457,0.095,X,X,X,X,X,F,F,F,F,F,F,F,2376.6,3.69,"""2501430"""
2,Beverly,"Beverly city, Massachusetts",NaN,NaN,NaN,42670,39502,0.051,0.181,0.168,0.534,0.921,0.021,0.001,0.022,0.001,0.027,0.051,0.885,2245,0.080,X,0.605,437300,2379,842,1282,X,16443,2.34,0.862,0.102,0.910,0.878,0.952,0.506,0.074,0.022,0.681,0.633,D,516124,594908,690375,17137.0,29.4,80586,45803,0.093,X,X,X,X,X,4110,2444,1279,215,3722,286,3618,2617.2,15.09,"""2505595"""
3,Boxford,"Boxford town, Essex County, Massachusetts",NaN,NaN,NaN,8203,7965,0.045,0.251,0.161,0.488,0.945,0.000,0.000,0.020,0.000,0.035,0.024,0.935,360,0.046,X,0.977,678700,3328,1218,870,X,2839,2.92,0.973,0.051,0.982,0.960,0.981,0.681,0.038,0.010,0.690,0.622,2065,14304,D,D,NaN,40.4,184007,79705,0.002,X,X,X,X,X,870,440,370,F,854,39,823,338.1,23.56,"""2500907420"""
4,Danvers,"Danvers town, Essex County, Massachusetts",NaN,NaN,NaN,28087,26493,0.049,0.190,0.209,0.543,0.917,0.024,0.001,0.026,0.000,0.023,0.051,0.876,1414,0.105,X,0.713,427400,2421,864,1398,X,10689,2.51,0.894,0.119,0.909,0.873,0.937,0.432,0.075,0.020,0.676,0.631,132584,423406,912359,1792878,66354.0,28.3,89250,44005,0.071,X,X,X,X,X,3027,1824,874,128,2701,415,2387,1995.6,13.28,"""2500916250"""
5,Essex County,"Essex County, Massachusetts",NaN,NaN,NaN,809829,743159,0.056,0.211,0.176,0.518,0.851,0.071,0.009,0.039,0.002,0.028,0.222,0.690,32697,0.173,314723,0.642,409900,2342,866,1241,1359,294202,2.60,0.890,0.265,0.911,0.858,0.893,0.399,0.079,0.039,0.675,0.634,1536058,5323953,12747884,10037894,13284.0,30.4,79263,42347,0.090,19328,300360,16760357,0.01,69827,71118,41046,24612,10741,58429,6629,61791,1508.8,492.56,"""25009"""
6,Georgetown,"Georgetown town, Essex County, Massachusetts",NaN,NaN,NaN,8470,8183,0.049,0.225,0.158,0.504,0.958,0.008,0.004,0.012,0.000,0.012,0.035,0.932,592,0.037,X,0.808,460400,2568,926,1487,X,3295,2.63,0.911,0.045,0.954,0.935,0.979,0.534,0.045,0.012,0.706,0.671,D,15620,51377,28190,3365.0,36.4,128466,53243,0.031,X,X,X,X,X,611,365,215,47,553,128,472,636.3,12.86,"""2500925625"""
7,Gloucester,"Gloucester city, Massachusetts",NaN,NaN,NaN,29729,28789,0.060,0.165,0.230,0.516,0.936,0.017,0.000,0.019,0.000,0.023,0.024,0.919,1558,0.086,X,0.640,425400,2241,880,1185,X,13110,2.27,0.913,0.093,0.910,0.861,0.925,0.399,0.069,0.041,0.641,0.590,72373,179407,D,344334,11796.0,26.4,72574,43321,0.100,X,X,X,X,X,3907,2160,1373,293,3500,405,3327,1099.0,26.20,"""2526150"""
8,Groveland,"Groveland town, Essex County, Massachusetts",NaN,NaN,NaN,6752,6459,0.050,0.203,0.178,0.490,0.983,0.000,0.003,0.007,0.000,0.003,0.032,0.959,183,0.025,X,0.871,406700,2402,882,1337,X,2448,2.77,0.926,0.033,0.978,0.895,0.966,0.487,0.084,0.000,0.706,0.684,4325,D,D,D,NaN,29.5,103125,44709,0.028,X,X,X,X,X,555,344,179,F,525,102,422,727.1,8.88,"""2500927620"""
9,Hamilton,"Hamilton town, Essex County, Massachusetts",NaN,NaN,NaN,7561,7764,0.058,0.258,0.141,0.494,0.921,0.003,0.000,0.060,0.002,0.011,0.015,0.910,377,0.096,X,0.809,569100,3191,1113,1207,X,2719,2.89,0.893,0.077,0.957,0.936,0.982,0.693,0.042,0.017,0.642,0.566,7982,13465,X,44295,5487.0,35.6,127813,49347,0.119,X,X,X,X,X,759,330,367,F,738,43,693,547.4,14.18,"""2500927900"""
10,Haverhill,"Haverhill city, Massachusetts",NaN,NaN,NaN,67787,60879,0.061,0.231,0.127,0.517,0.803,0.036,0.001,0.013,0.000,0.039,0.232,0.697,2827,0.107,X,0.571,300600,1990,748,1208,X,24256,2.58,0.891,0.219,0.929,0.831,0.908,0.298,0.100,0.037,0.722,0.692,100586,364567,719273,677689,10966.0,28.6,69426,33918,0.125,X,X,X,X,X,4361,2364,1573,709,3448,439,3643,1846.5,32.97,"""2529405"""
11,Ipswich,"Ipswich town, Essex County, Massachusetts",NaN,NaN,NaN,13785,13175,0.038,0.206,0.224,0.519,0.944,0.022,0.000,0.009,0.000,0.011,0.042,0.920,781,0.065,X,0.717,485600,2449,886,1145,X,5761,2.40,0.935,0.078,0.906,0.856,0.976,0.541,0.049,0.017,0.662,0.625,25625,16858,282831,94946,7010.0,30.6,93212,52393,0.076,X,X,X,X,X,1655,928,572,F,1599,115,1480,410.3,32.11,"""2500932310"""
12,Lawrence,"Lawrence city, Massachusetts",NaN,NaN,NaN,89143,76377,0.078,0.263,0.104,0.511,0.528,0.057,0.003,0.017,0.000,0.031,0.806,0.148,1168,0.406,X,0.310,271100,1844,593,1145,X,25959,3.03,0.882,0.782,0.839,0.721,0.670,0.108,0.092,0.074,0.670,0.640,D,674822,813616,486394,6290.0,23.7,44613,20858,0.214,X,X,X,X,X,5343,2878,2113,3678,1453,264,4864,11028.0,6.93,"""2534550"""
13,Lynn,"Lynn city, Massachusetts",NaN,NaN,NaN,101253,90329,0.073,0.245,0.117,0.496,0.486,0.137,0.004,0.073,0.001,0.066,0.428,0.359,2747,0.367,X,0.449,323100,2109,773,1189,X,32599,2.85,0.874,0.536,0.871,0.799,0.762,0.185,0.098,0.055,0.682,0.630,D,388045,D,668238,7323.0,32.7,56181,26291,0.166,X,X,X,X,X,5352,2887,2135,2037,3134,374,4731,8409.5,10.74,"""2537490"""
14,Lynnfield,"Lynnfield town, Essex County, Massachusetts",NaN,NaN,NaN,13000,11596,0.057,0.248,0.197,0.518,0.923,0.012,0.000,0.044,0.000,0.019,0.024,0.907,489,0.078,X,0.851,670700,3242,1143,1669,X,4590,2.81,0.925,0.096,0.924,0.906,0.967,0.551,0.033,0.016,0.688,0.600,16891,26675,X,317013,26854.0,32.5,128641,63191,0.020,X,X,X,X,X,1412,953,366,97,1240,205,1111,1173.4,9.88,"""2500937560"""
15,Manchester,"Manchester-by-the-Sea town, Essex County, Mass...",NaN,NaN,NaN,5395,5136,0.039,0.226,0.236,0.498,0.986,0.000,0.000,0.007,0.000,0.006,0.015,0.971,215,0.078,X,0.762,852400,3269,"$1,500+",1356,X,2075,2.59,0.880,0.080,0.946,0.903,0.983,0.708,0.004,0.030,0.655,0.602,D,13745,X,25969,4979.0,36.9,148854,74989,0.033,X,X,X,X,X,850,467,298,F,807,40,795,556.5,9.23,"""2500937995"""
16,Marblehead,"Marblehead town, Essex County, Massachusetts",NaN,NaN,NaN,20441,19808,0.037,0.232,0.218,0.529,0.956,0.016,0.000,0.014,0.000,0.009,0.050,0.911,910,0.105,X,0.778,675400,2865,1077,1578,X,8122,2.51,0.907,0.131,0.972,0.953,0.986,0.713,0.031,0.023,0.663,0.613,19329,40689,16750,100119,4987.0,38.5,123333,69148,0.044,X,X,X,X,X,3138,1879,949,80,2923,269,2727,4515.5,4.39,"""2500938400"""
17,Massachusetts,Massachusetts,6984723.0,7029917.0,-0.006,7029917,6547629,0.052,0.196,0.170,0.515,0.806,0.090,0.005,0.072,0.001,0.026,0.124,0.711,303534,0.168,2928732,0.624,381600,2225,812,1282,17025,2617497,2.52,0.873,0.238,0.914,0.864,0.908,0.437,0.078,0.035,0.672,0.634,17508975,63583090,81927799,92915380,13980.0,30.2,81215,43761,0.094,181061,3386372,238938268,0.02,573754,607664,357158,199210,89967,499959,58339,525667,839.4,7800.06,"""25"""
18,Merrimac,"Merrimac town, Essex County, Massachusetts",NaN,NaN,NaN,6723,6338,0.037,0.195,0.191,0.504,0.967,0.002,0.000,0.010,0.000,0.007,0.024,0.956,482,0.033,X,0.871,362600,2304,706,1102,X,2710,2.53,0.951,0.043,0.927,0.832,0.943,0.437,0.098,0.034,0.683,0.641,3105,D,D,11386,1747.0,32.6,84609,44616,0.034,X,X,X,X,X,579,288,264,F,568,103,470,749.3,8.46,"""2500940430"""
19,Methuen,"Methuen Town city, Massachusetts",NaN,NaN,NaN,53059,47255,0.048,0.209,0.160,0.519,0.746,0.043,0.003,0.041,0.000,0.039,0.295,0.609,2015,0.223,X,0.718,333200,2068,760,1233,X,17907,2.78,0.885,0.361,0.923,0.887,0.883,0.281,0.079,0.047,0.699,0.670,96912,334051,635169,530345,11047.0,27.8,77484,35387,0.092,X,X,X,X,X,3750,2260,1184,681,2929,333,3166,2124.0,22.25,"""2540710"""
20,Middleton,"Middleton town, Essex County, Massachusetts",NaN,NaN,NaN,9779,8987,0.049,0.189,0.184,0.466,0.929,0.015,0.001,0.012,0.000,0.034,0.062,0.903,305,0.085,X,0.884,555600,2869,964,1720,X,2999,2.92,0.896,0.156,0.936,0.951,0.914,0.393,0.072,0.030,0.569,0.609,19682,19079,142749,175156,18901.0,33.4,125204,52896,0.028,X,X,X,X,X,935,519,356,F,860,75,823,667.9,13.46,"""2500941095"""
21,Newbury,"Newbury town, Essex County, Massachusetts",NaN,NaN,NaN,6716,6666,0.026,0.251,0.226,0.548,0.937,0.010,0.000,0.016,0.000,0.012,0.030,0.921,457,0.040,X,0.864,517100,2645,749,1077,X,2577,2.68,0.923,0.035,0.972,0.944,0.963,0.531,0.033,0.017,0.655,0.599,7144,3264,D,D,NaN,28.6,101875,57871,0.089,X,X,X,X,X,886,488,337,F,876,91,734,285.4,23.35,"""2500945175"""
22,Newburyport,"Newburyport city, Massachusetts",NaN,NaN,NaN,18289,17416,0.035,0.206,0.210,0.545,0.941,0.017,0.000,0.022,0.000,0.017,0.028,0.924,801,0.075,X,0.772,548400,2599,1007,1338,X,7836,2.27,0.904,0.072,0.940,0.900,0.969,0.624,0.052,0.023,0.693,0.638,66902,259692,558698,223348,12651.0,33.6,109839,64018,0.059,X,X,X,X,X,2672,1561,924,128,2395,229,2302,2086.2,8.35,"""2545245"""
23,North Andover,"North Andover town, Essex County, Massachusetts",NaN,NaN,NaN,30915,28352,0.057,0.242,0.159,0.520,0.858,0.036,0.001,0.061,0.000,0.023,0.076,0.811,1218,0.119,X,0.714,505400,2834,982,1577,X,11112,2.67,0.867,0.151,0.937,0.908,0.959,0.597,0.063,0.018,0.667,0.602,69990,208800,245244,318635,11211.0,32.5,108070,54939,0.056,X,X,X,X,X,2866,1576,1051,408,2361,236,2455,1077.8,26.31,"""2500946365"""
24,Peabody,"Peabody city, Massachusetts",NaN,NaN,NaN,54481,51251,0.062,0.171,0.225,0.520,0.899,0.038,0.004,0.011,0.000,0.027,0.099,0.827,2974,0.154,X,0.658,387400,2039,659,1366,X,21713,2.41,0.880,0.213,0.865,0.818,0.901,0.340,0.091,0.032,0.640,0.592,154677,594501,1063923,1256022,24216.0,27.8,73217,40095,0.086,X,X,X,X,X,4954,3020,1380,496,4143,476,4051,3161.4,16.21,"""2552490"""
25,Rockport,"Rockport town, Essex County, Massachusetts",NaN,NaN,NaN,6992,6952,0.038,0.147,0.337,0.563,0.970,0.001,0.000,0.001,0.000,0.011,0.007,0.965,480,0.029,X,0.690,536400,2260,918,1360,X,3324,2.16,0.913,0.029,0.913,0.860,0.973,0.569,0.042,0.008,0.594,0.546,18432,D,D,19799,2803.0,29.1,85208,51122,0.067,X,X,X,X,X,969,391,505,49,901,53,897,994.4,6.99,"""2500957880"""
26,Rowley,"Rowley town, Essex County, Massachusetts",NaN,NaN,NaN,6161,5856,0.053,0.218,0.169,0.535,0.959,0.012,0.000,0.011,0.000,0.016,0.008,0.954,413,0.033,X,0.813,486100,2476,856,1361,X,2210,2.86,0.914,0.031,0.941,0.914,0.967,0.445,0.067,0.003,0.713,0.692,D,12220,D,105161,17627.0,31.9,115909,54885,0.044,X,X,X,X,X,816,477,276,F,797,68,743,321.6,18.21,"""2500958405"""
27,Salem,"Salem city, Massachusetts",NaN,NaN,NaN,44480,41340,0.052,0.162,0.162,0.547,0.790,0.066,0.006,0.025,0.000,0.038,0.178,0.718,1607,0.146,X,0.515,367200,2206,881,1289,X,18437,2.25,0.857,0.220,0.916,0.879,0.912,0.430,0.102,0.028,0.680,0.649,116417,764377,132957,469570,11122.0,31.3,68808,38400,0.147,X,X,X,X,X,4058,2207,1398,505,3413,686,3205,4992.9,8.28,"""2559105"""
28,Salisbury,"Salisbury town, Essex County, Massachusetts",NaN,NaN,NaN,9236,8283,0.048,0.173,0.207,0.500,0.959,0.007,0.001,0.011,0.002,0.010,0.036,0.928,786,0.049,X,0.816,363600,2092,730,1463,X,3891,2.39,0.912,0.059,0.932,0.897,0.922,0.358,0.106,0.034,0.652,0.652,31569,D,40760,71065,8435.0,30.1,81304,43214,0.062,X,X,X,X,X,876,536,220,100,764,75,748,536.9,15.43,"""2500959245"""
29,Saugus,"Saugus town, Essex County, Massachusetts",NaN,NaN,NaN,28619,26628,0.046,0.172,0.202,0.510,0.907,0.021,0.003,0.038,0.000,0.017,0.086,0.833,1466,0.132,X,0.806,394900,2277,825,919,X,10424,2.67,0.922,0.182,0.913,0.876,0.918,0.288,0.112,0.044,0.674,0.651,124429,56175,75882,733468,26830.0,32.1,88667,39790,0.098,X,X,X,X,X,2461,1691,545,270,2025,296,1975,2467.0,10.79,"""2500960015"""
30,Swampscott,"Swampscott town, Essex County, Massachusetts",NaN,NaN,NaN,15111,13787,0.061,0.222,0.188,0.541,0.935,0.015,0.000,0.022,0.000,0.021,0.025,0.917,658,0.129,X,0.771,475500,2855,1080,1916,X,5780,2.57,0.886,0.169,0.907,0.887,0.974,0.573,0.049,0.004,0.691,0.657,D,33958,D,180266,12951.0,35.4,113407,56405,0.031,X,X,X,X,X,1865,998,626,208,1619,36,1791,4560.1,3.02,"""2500968645"""
31,Topsfield,"Topsfield town, Essex County, Massachusetts",NaN,NaN,NaN,6569,6085,0.061,0.262,0.230,0.516,0.962,0.001,0.000,0.026,0.000,0.008,0.017,0.948,450,0.077,X,0.903,598700,3188,1330,-,X,2206,2.90,0.898,0.048,0.935,0.908,0.972,0.644,0.044,0.019,0.603,0.532,9257,21316,33619,45396,7237.0,40.2,136863,53853,0.046,X,X,X,X,X,1070,724,221,30,991,82,893,510.4,11.92,"""2500970150"""
32,United States,United States,331893745.0,331449281.0,0.001,331449281,308745538,0.060,0.223,0.165,0.508,0.763,0.134,0.013,0.059,0.002,0.028,0.185,0.601,18230322,0.136,139684244,0.640,217500,1595,500,1062,1471141,120756048,2.62,0.858,0.216,0.903,0.827,0.880,0.321,0.086,0.102,0.630,0.583,708138598,2040441203,5696729632,4219821871,13443.0,26.9,62843,34103,0.114,7959103,132989428,7428553593,0.02,26485532,27626360,14844597,9878397,7952386,18987918,2521682,24070685,87.4,3531905.43,"""1"""
33,Wenham,"Hamilton town, Essex County, Massachusetts",NaN,NaN,NaN,7561,7764,0.058,0.258,0.141,0.494,0.921,0.003,0.000,0.060,0.002,0.011,0.015,0.910,377,0.096,X,0.809,569100,3191,1113,1207,X,2719,2.89,0.893,0.077,0.957,0.936,0.982,0.693,0.042,0.017,0.642,0.566,7982,13465,X,44295,5487.0,35.6,127813,49347,0.119,X,X,X,X,X,759,330,367,F,738,43,693,547.4,14.18,"""2500927900"""
34,Nahant,"Swampscott town, Essex County, Massachusetts",NaN,NaN,NaN,15111,13787,0.061,0.222,0.188,0.541,0.935,0.015,0.000,0.022,0.000,0.021,0.025,0.917,658,0.129,X,0.771,475500,2855,1080,1916,X,5780,2.57,0.886,0.169,0.907,0.887,0.974,0.573,0.049,0.004,0.691,0.657,D,33958,D,180266,12951.0,35.4,113407,56405,0.031,X,X,X,X,X,1865,998,626,208,1619,36,1791,4560.1,3.02,"""2500968645"""
35,West Newbury,"Groveland town, Essex County, Massachusetts",NaN,NaN,NaN,6752,6459,0.050,0.203,0.178,0.490,0.983,0.000,0.003,0.007,0.000,0.003,0.032,0.959,183,0.025,X,0.871,406700,2402,882,1337,X,2448,2.77,0.926,0.033,0.978,0.895,0.966,0.487,0.084,0.000,0.706,0.684,4325,D,D,D,NaN,29.5,103125,44709,0.028,X,X,X,X,X,555,344,179,F,525,102,422,727.1,8.88,"""2500927620"""
36,Essex,"Manchester-by-the-Sea town, Essex County, Mass...",NaN,NaN,NaN,5395,5136,0.039,0.226,0.236,0.498,0.986,0.000,0.000,0.007,0.000,0.006,0.015,0.971,215,0.078,X,0.762,852400,3269,"$1,500+",1356,X,2075,2.59,0.880,0.080,0.946,0.903,0.983,0.708,0.004,0.030,0.655,0.602,D,13745,X,25969,4979.0,36.9,148854,74989,0.033,X,X,X,X,X,850,467,298,F,807,40,795,556.5,9.23,"""2500937995"""

In [87]:
df_ma_essex_county_census.columns = df_ma_essex_county_census.columns.str.lower().str.replace(" ", "_")
df_ma_essex_county_census.head(3)

,towns,fact,"population_estimates,_july_1_2021,_(v2021)","population_estimates_base,_april_1,_2020,_(v2021)","population,_percent_change_-_april_1,_2020_(estimates_base)_to_july_1,_2021,_(v2021)","population,_census,_april_1,_2020","population,_census,_april_1,_2010","persons_under_5_years,_percent","persons_under_18_years,_percent","persons_65_years_and_over,_percent","female_persons,_percent","white_alone,_percent","black_or_african_american_alone,_percent","american_indian_and_alaska_native_alone,_percent","asian_alone,_percent","native_hawaiian_and_other_pacific_islander_alone,_percent","two_or_more_races,_percent","hispanic_or_latino,_percent","white_alone,_not_hispanic_or_latino,_percent","veterans,_2015-2019","foreign_born_persons,_percent,_2015-2019","housing_units,__july_1,_2019,__(v2019)","owner-occupied_housing_unit_rate,_2015-2019","median_value_of_owner-occupied_housing_units,_2015-2019","median_selected_monthly_owner_costs_-with_a_mortgage,_2015-2019","median_selected_monthly_owner_costs_-without_a_mortgage,_2015-2019","median_gross_rent,_2015-2019","building_permits,_2020","households,_2015-2019","persons_per_household,_2015-2019","living_in_same_house_1_year_ago,_percent_of_persons_age_1_year+,_2015-2019","language_other_than_english_spoken_at_home,_percent_of_persons_age_5_years+,_2015-2019","households_with_a_computer,_percent,_2015-2019","households_with_a_broadband_internet_subscription,_percent,_2015-2019","high_school_graduate_or_higher,_percent_of_persons_age_25_years+,_2015-2019","bachelor's_degree_or_higher,_percent_of_persons_age_25_years+,_2015-2019","with_a_disability,_under_age_65_years,_percent,_2015-2019","persons__without_health_insurance,_under_age_65_years,_percent","in_civilian_labor_force,_total,_percent_of_population_age_16_years+,_2015-2019","in_civilian_labor_force,_female,_percent_of_population_age_16_years+,_2015-2019","total_accommodation_and_food_services_sales,_2012_($1,000)","total_health_care_and_social_assistance_receipts/revenue,_2012_($1,000)","total_manufacturers_shipments,_2012_($1,000)","total_retail_sales,_2012_($1,000)","total_retail_sales_per_capita,_2012","mean_travel_time_to_work_(minutes),_workers_age_16_years+,_2015-2019","median_household_income_(in_2019_dollars),_2015-2019","per_capita_income_in_past_12_months_(in_2019_dollars),_2015-2019","persons_in_poverty,_percent","total_employer_establishments,_2019","total_employment,_2019","total_annual_payroll,_2019_($1,000)","total_employment,_percent_change,_2018-2019","total_nonemployer_establishments,_2018","all_firms,_2012","men-owned_firms,_2012","women-owned_firms,_2012","minority-owned_firms,_2012","nonminority-owned_firms,_2012","veteran-owned_firms,_2012","nonveteran-owned_firms,_2012","population_per_square_mile,_2010","land_area_in_square_miles,_2010",fips_code
0,Amesbury,"Amesbury Town city, Massachusetts",NaN,NaN,NaN,17366,16283,0.044,0.197,0.168,0.513,0.961,0.006,0.003,0.011,0.000,0.019,0.025,0.938,814,0.043,X,0.702,336200,2252,866,1195,X,7215,2.37,0.882,0.044,0.928,0.878,0.942,0.411,0.098,0.018,0.708,0.668,25617,61249,246210,112942,6830.0,32.6,82468,42607,0.063,X,X,X,X,X,1666,817,761,30,1587,216,1395,1327.8,12.26,"""2501260"""
1,Andover,"Andover CDP, Massachusetts",NaN,NaN,NaN,9735,8762,0.038,0.166,0.194,0.534,0.870,0.026,0.001,0.079,0.000,0.023,0.025,0.847,409,0.135,X,0.720,564200,2713,1096,1006,X,3472,2.15,0.860,0.165,0.918,0.890,0.966,0.700,0.052,0.021,0.647,0.596,X,X,X,X,NaN,32.5,95600,55457,0.095,X,X,X,X,X,F,F,F,F,F,F,F,2376.6,3.69,"""2501430"""
2,Beverly,"Beverly city, Massachusetts",NaN,NaN,NaN,42670,39502,0.051,0.181,0.168,0.534,0.921,0.021,0.001,0.022,0.001,0.027,0.051,0.885,2245,0.080,X,0.605,437300,2379,842,1282,X,16443,2.34,0.862,0.102,0.910,0.878,0.952,0.506,0.074,0.022,0.681,0.633,D,516124,594908,690375,17137.0,29.4,80586,45803,0.093,X,X,X,X,X,4110,2444,1279,215,3722,286,3618,2617.2,15.09,"""2505595"""

##### Cleaning up the data: renaming and adding new columns

In [88]:
df_ma_essex_county_census = df_ma_essex_county_census.rename(columns={'median_household_income_(in_2019_dollars),_2015-2019': 'median_household_income'})

In [89]:
df_ma_essex_county_census['median_household_income'] = df_ma_essex_county_census['median_household_income'].astype(int)

In [90]:
df = pd.merge(df, df_ma_essex_county_census, on='towns', how='outer')
df = df.rename(columns={'open_data_channel_type': 'channel'})

In [91]:
df.columns = df.columns.str.replace(",", "")
df.head(3)

,district_code,district_name_w_charters,district_name_x,total_#_of_classes,average_class_size,number_of_students,african_american_%,asian_%,hispanic_%,white_%,native_american_%,native_hawaiian_pacific_islander_%,multi-race_non-hispanic_%,tests_taken_x,score=1_x,score=2_x,score=3_x,score=4_x,score=5_x,%_score_1-2_x,%_score_3-5_x,tests_taken_y,score=1_y,score=2_y,score=3_y,score=4_y,score=5_y,%_score_1-2_y,%_score_3-5_y,tests_takers,tests_taken_x.1,one_test,two_tests,three_tests,four_tests,five_or_more_tests,high_school_graduates_(#),attending_coll./univ._(#),attending_coll./univ._(%),private_two-year_(%),private_four-year_(%),public_two-year_(%),public_four-year_(%),ma_community_college_(%),ma_state_university_(%),univ.of_mass._(%),tests_taken_y.1,reading_/_writing,writing,math,#_in_cohort,%_graduated,%_still_in_school,%_non-grad_completers,%_h.s._equiv.,%_dropped_out,%_permanently_excluded,towns,school_name,fact,population_estimates_july_1_2021_(v2021),population_estimates_base_april_1_2020_(v2021),population_percent_change_-_april_1_2020_(estimates_base)_to_july_1_2021_(v2021),population_census_april_1_2020,population_census_april_1_2010,persons_under_5_years_percent,persons_under_18_years_percent,persons_65_years_and_over_percent,female_persons_percent,white_alone_percent,black_or_african_american_alone_percent,american_indian_and_alaska_native_alone_percent,asian_alone_percent,native_hawaiian_and_other_pacific_islander_alone_percent,two_or_more_races_percent,hispanic_or_latino_percent,white_alone_not_hispanic_or_latino_percent,veterans_2015-2019,foreign_born_persons_percent_2015-2019,housing_units__july_1_2019__(v2019),owner-occupied_housing_unit_rate_2015-2019,median_value_of_owner-occupied_housing_units_2015-2019,median_selected_monthly_owner_costs_-with_a_mortgage_2015-2019,median_selected_monthly_owner_costs_-without_a_mortgage_2015-2019,median_gross_rent_2015-2019,building_permits_2020,households_2015-2019,persons_per_household_2015-2019,living_in_same_house_1_year_ago_percent_of_persons_age_1_year+_2015-2019,language_other_than_english_spoken_at_home_percent_of_persons_age_5_years+_2015-2019,households_with_a_computer_percent_2015-2019,households_with_a_broadband_internet_subscription_percent_2015-2019,high_school_graduate_or_higher_percent_of_persons_age_25_years+_2015-2019,bachelor's_degree_or_higher_percent_of_persons_age_25_years+_2015-2019,with_a_disability_under_age_65_years_percent_2015-2019,persons__without_health_insurance_under_age_65_years_percent,in_civilian_labor_force_total_percent_of_population_age_16_years+_2015-2019,in_civilian_labor_force_female_percent_of_population_age_16_years+_2015-2019,total_accommodation_and_food_services_sales_2012_($1000),total_health_care_and_social_assistance_receipts/revenue_2012_($1000),total_manufacturers_shipments_2012_($1000),total_retail_sales_2012_($1000),total_retail_sales_per_capita_2012,mean_travel_time_to_work_(minutes)_workers_age_16_years+_2015-2019,median_household_income,per_capita_income_in_past_12_months_(in_2019_dollars)_2015-2019,persons_in_poverty_percent,total_employer_establishments_2019,total_employment_2019,total_annual_payroll_2019_($1000),total_employment_percent_change_2018-2019,total_nonemployer_establishments_2018,all_firms_2012,men-owned_firms_2012,women-owned_firms_2012,minority-owned_firms_2012,nonminority-owned_firms_2012,veteran-owned_firms_2012,nonveteran-owned_firms_2012,population_per_square_mile_2010,land_area_in_square_miles_2010,fips_code
0,70000.0,Amesbury,Amesbury,"1,115",15.1,"1,869",1.9,1.2,9.7,82.6,0.2,0.1,4.3,126.0,18.0,34.0,46.0,19.0,9.0,41.3,58.7,126.0,18.0,34.0,46.0,19.0,9.0,41.3,58.7,84.0,126.0,43.0,40.0,1.0,0.0,0.0,151.0,102.0,67.5,0.0,33.3,24.5,42.2,22.5,3.9,13.7,45.0,596.0,NaN,570.0,165,87.9,9.1,0.0,0.0,3.0,0.0,Amesbury,Amesbury High School,"Amesbury Town city, Massachusetts",NaN,NaN,NaN,17366,16283,0.044,0.197,0.168,0.513,0.961,0.006,0.003,0.011,0.000,0.019,0.025,0.938,814,0.043,X,0.702,336200,2252,866,1195,X,7215,2.37,0.882,0.044,0.928,0.878,0.942,0.411,0.098,0.018,0.708,0.668,25617,61249,246210,112942,6830.0,32.6,82468,42607,0.063,X,X,X,X,X,1666,817,761,30,1587,216,1395,1327.8,12.26,"""2501260"""
1,90000.0,Andover,Andover,"3,729",12.3,"5,614",2.7,19.0,7.9,66.5,0.1,0.1,3.7,986.0,70.0,182.0,272.0,289.0,173.0,25.6,74.4,986.0,70.0,182.0,272.0,289.0,173.0,25.6,74.4,495.0,986.0,207.0,157.0,75.0,42.0,14.0,433.0,351.0,81.1,0.0,52.4,7.4,40.2,6.6,6.0,16.5,456.0,607.0,NaN,611.0,441,95.2,3.9,0.0,0.0,0.9,0.0,Andover,Andover High School,"Andover CDP, Massachusetts",NaN,NaN,NaN,9735,8762,0.038,0.166,0.194,0.534,0.870,0.026,0.001,0.079,0.000,0.023,0.025,0.847,409,0.135,X,0.720,564200,2713,1096,1006,X,3472,2.15,0.860,0.165,0.918,0.890,0.966,0.700,0.052,0.021,0.647,0.596,X,X,X,X,NaN,32.5,95600,55457,0.095,X,X,X,X,X,F,F,F,F,F,F,F,2376.6,3.69,"""2501430"""
2,300000.0,Beverly,Beverly,"1,732",16.4,"4,655",3.5,2.5,14.9,75.0,0.1,0.0,4.0,269.0,25.0,92.0,82.0,52.0,18.0,43.5,56.5,269.0,25.0,92.0,82.0,52.0,18.0,43.5,56.5,158.0,269.0,87.0,41.0,23.0,5.0,2.0,289.0,217.0,75.1,0.0,36.9,16.6,46.5,16.6,11.5,14.7,185.0,548.0,NaN,522.0,310,91.0,3.9,0.0,0.3,4.8,0.0,Beverly,Beverly High School,"Beverly city, Massachusetts",NaN,NaN,NaN,42670,39502,0.051,0.181,0.168,0.534,0.921,0.021,0.001,0.022,0.001,0.027,0.051,0.885,2245,0.080,X,0.605,437300,2379,842,1282,X,16443,2.34,0.862,0.102,0.910,0.878,0.952,0.506,0.074,0.022,0.681,0.633,D,516124,594908,690375,17137.0,29.4,80586,45803,0.093,X,X,X,X,X,4110,2444,1279,215,3722,286,3618,2617.2,15.09,"""2505595"""

In [92]:
df.columns = df.columns.str.replace("%", "pct")
df.columns = df.columns.str.replace("#", "num")

In [93]:
df = df.rename(columns={'african_american_%': 'scl_african_american_pct'})
df = df.rename(columns={'asian_%': 'scl_asian_pct'})
df = df.rename(columns={'hispanic_%': 'scl_hispanic_pct'})
df = df.rename(columns={'white_%': 'scl_white_pct'})
df = df.rename(columns={'native_american_%': 'scl_native_american_pct'})
df = df.rename(columns={'native_hawaiian,_pacific_islander_%%': 'scl_native_hawaiian_pacific_islander_pct'})
df = df.rename(columns={'multi-race,_non-hispanic_%': 'scl_multi_race_non_hispanic_pct'})
df = df.rename(columns={'native_hawaiian_pacific_islander_%': 'scl_native_hawaiian_pacific_islander_pct'})
df = df.rename(columns={'multi-race_non-hispanic_%': 'scl_multi_race_non_hispanic_pct'})
df = df.rename(columns={'%_score_1-2_x': 'ap_one_to_two_pct'})
df = df.rename(columns={'%_score_3-5_x': 'ap_three_to_five_pct'})
df = df.rename(columns={'attending_coll./univ._(%)': 'attending_coll/uni_pct'})

In [94]:
df.head()

,district_code,district_name_w_charters,district_name_x,total_num_of_classes,average_class_size,number_of_students,african_american_pct,asian_pct,hispanic_pct,white_pct,native_american_pct,native_hawaiian_pacific_islander_pct,multi-race_non-hispanic_pct,tests_taken_x,score=1_x,score=2_x,score=3_x,score=4_x,score=5_x,pct_score_1-2_x,pct_score_3-5_x,tests_taken_y,score=1_y,score=2_y,score=3_y,score=4_y,score=5_y,pct_score_1-2_y,pct_score_3-5_y,tests_takers,tests_taken_x.1,one_test,two_tests,three_tests,four_tests,five_or_more_tests,high_school_graduates_(num),attending_coll./univ._(num),attending_coll./univ._(pct),private_two-year_(pct),private_four-year_(pct),public_two-year_(pct),public_four-year_(pct),ma_community_college_(pct),ma_state_university_(pct),univ.of_mass._(pct),tests_taken_y.1,reading_/_writing,writing,math,num_in_cohort,pct_graduated,pct_still_in_school,pct_non-grad_completers,pct_h.s._equiv.,pct_dropped_out,pct_permanently_excluded,towns,school_name,fact,population_estimates_july_1_2021_(v2021),population_estimates_base_april_1_2020_(v2021),population_percent_change_-_april_1_2020_(estimates_base)_to_july_1_2021_(v2021),population_census_april_1_2020,population_census_april_1_2010,persons_under_5_years_percent,persons_under_18_years_percent,persons_65_years_and_over_percent,female_persons_percent,white_alone_percent,black_or_african_american_alone_percent,american_indian_and_alaska_native_alone_percent,asian_alone_percent,native_hawaiian_and_other_pacific_islander_alone_percent,two_or_more_races_percent,hispanic_or_latino_percent,white_alone_not_hispanic_or_latino_percent,veterans_2015-2019,foreign_born_persons_percent_2015-2019,housing_units__july_1_2019__(v2019),owner-occupied_housing_unit_rate_2015-2019,median_value_of_owner-occupied_housing_units_2015-2019,median_selected_monthly_owner_costs_-with_a_mortgage_2015-2019,median_selected_monthly_owner_costs_-without_a_mortgage_2015-2019,median_gross_rent_2015-2019,building_permits_2020,households_2015-2019,persons_per_household_2015-2019,living_in_same_house_1_year_ago_percent_of_persons_age_1_year+_2015-2019,language_other_than_english_spoken_at_home_percent_of_persons_age_5_years+_2015-2019,households_with_a_computer_percent_2015-2019,households_with_a_broadband_internet_subscription_percent_2015-2019,high_school_graduate_or_higher_percent_of_persons_age_25_years+_2015-2019,bachelor's_degree_or_higher_percent_of_persons_age_25_years+_2015-2019,with_a_disability_under_age_65_years_percent_2015-2019,persons__without_health_insurance_under_age_65_years_percent,in_civilian_labor_force_total_percent_of_population_age_16_years+_2015-2019,in_civilian_labor_force_female_percent_of_population_age_16_years+_2015-2019,total_accommodation_and_food_services_sales_2012_($1000),total_health_care_and_social_assistance_receipts/revenue_2012_($1000),total_manufacturers_shipments_2012_($1000),total_retail_sales_2012_($1000),total_retail_sales_per_capita_2012,mean_travel_time_to_work_(minutes)_workers_age_16_years+_2015-2019,median_household_income,per_capita_income_in_past_12_months_(in_2019_dollars)_2015-2019,persons_in_poverty_percent,total_employer_establishments_2019,total_employment_2019,total_annual_payroll_2019_($1000),total_employment_percent_change_2018-2019,total_nonemployer_establishments_2018,all_firms_2012,men-owned_firms_2012,women-owned_firms_2012,minority-owned_firms_2012,nonminority-owned_firms_2012,veteran-owned_firms_2012,nonveteran-owned_firms_2012,population_per_square_mile_2010,land_area_in_square_miles_2010,fips_code
0,70000.0,Amesbury,Amesbury,"1,115",15.1,"1,869",1.9,1.2,9.7,82.6,0.2,0.1,4.3,126.0,18.0,34.0,46.0,19.0,9.0,41.3,58.7,126.0,18.0,34.0,46.0,19.0,9.0,41.3,58.7,84.0,126.0,43.0,40.0,1.0,0.0,0.0,151.0,102.0,67.5,0.0,33.3,24.5,42.2,22.5,3.9,13.7,45.0,596.0,NaN,570.0,165,87.9,9.1,0.0,0.0,3.0,0.0,Amesbury,Amesbury High School,"Amesbury Town city, Massachusetts",NaN,NaN,NaN,17366,16283,0.044,0.197,0.168,0.513,0.961,0.006,0.003,0.011,0.000,0.019,0.025,0.938,814,0.043,X,0.702,336200,2252,866,1195,X,7215,2.37,0.882,0.044,0.928,0.878,0.942,0.411,0.098,0.018,0.708,0.668,25617,61249,246210,112942,6830.0,32.6,82468,42607,0.063,X,X,X,X,X,1666,817,761,30,1587,216,1395,1327.8,12.26,"""2501260"""
1,90000.0,Andover,Andover,"3,729",12.3,"5,614",2.7,19.0,7.9,66.5,0.1,0.1,3.7,986.0,70.0,182.0,272.0,289.0,173.0,25.6,74.4,986.0,70.0,182.0,272.0,289.0,173.0,25.6,74.4,495.0,986.0,207.0,157.0,75.0,42.0,14.0,433.0,351.0,81.1,0.0,52.4,7.4,40.2,6.6,6.0,16.5,456.0,607.0,NaN,611.0,441,95.2,3.9,0.0,0.0,0.9,0.0,Andover,Andover High School,"Andover CDP, Massachusetts",NaN,NaN,NaN,9735,8762,0.038,0.166,0.194,0.534,0.870,0.026,0.001,0.079,0.000,0.023,0.025,0.847,409,0.135,X,0.720,564200,2713,1096,1006,X,3472,2.15,0.860,0.165,0.918,0.890,0.966,0.700,0.052,0.021,0.647,0.596,X,X,X,X,NaN,32.5,95600,55457,0.095,X,X,X,X,X,F,F,F,F,F,F,F,2376.6,3.69,"""2501430"""
2,300000.0,Beverly,Beverly,"1,732",16.4,"4,655",3.5,2.5,14.9,75.0,0.1,0.0,4.0,269.0,25.0,92.0,82.0,52.0,18.0,43.5,56.5,269.0,25.0,92.0,82.0,52.0,18.0,43.5,56.5,158.0,269.0,87.0,41.0,23.0,5.0,2.0,289.0,217.0,75.1,0.0,36.9,16.6,46.5,16.6,11.5,14.7,185.0,548.0,NaN,522.0,310,91.0,3.9,0.0,0.3,4.8,0.0,Beverly,Beverly High School,"Beverly city, Massachusetts",NaN,NaN,NaN,42670,39502,0.051,0.181,0.168,0.534,0.921,0.021,0.001,0.022,0.001,0.027,0.051,0.885,2245,0.080,X,0.605,437300,2379,842,1282,X,16443,2.34,0.862,0.102,0.910,0.878,0.952,0.506,0.074,0.022,0.681,0.633,D,516124,594908,690375,17137.0,29.4,80586,45803,0.093,X,X,X,X,X,4110,2444,1279,215,3722,286,3618,2617.2,15.09,"""2505595"""
3,710000.0,Danvers,Danvers,"2,116",16.8,"3,327",2.3,2.4,9.1,83.6,0.1,0.0,2.6,361.0,70.0,90.0,101.0,69.0,31.0,44.3,55.7,361.0,70.0,90.0,101.0,69.0,31.0,44.3,55.7,186.0,361.0,84.0,61.0,22.0,10.0,9.0,230.0,163.0,70.9,0.0,39.3,14.7,46.0,14.7,13.5,11.0,145.0,549.0,NaN,530.0,237,95.8,3.0,0.0,0.4,0.8,0.0,Danvers,Danvers High School,"Danvers town, Essex County, Massachusetts",NaN,NaN,NaN,28087,26493,0.049,0.190,0.209,0.543,0.917,0.024,0.001,0.026,0.000,0.023,0.051,0.876,1414,0.105,X,0.713,427400,2421,864,1398,X,10689,2.51,0.894,0.119,0.909,0.873,0.937,0.432,0.075,0.020,0.676,0.631,132584,423406,912359,1792878,66354.0,28.3,89250,44005,0.071,X,X,X,X,X,3027,1824,874,128,2701,415,2387,1995.6,13.28,"""2500916250"""
4,1050000.0,Georgetown,Georgetown,623,14.9,"1,223",0.8,1.0,2.4,93.7,0.0,0.2,2.0,117.0,3.0,12.0,33.0,39.0,30.0,12.8,87.2,117.0,3.0,12.0,33.0,39.0,30.0,12.8,87.2,66.0,117.0,31.0,22.0,10.0,3.0,0.0,109.0,90.0,82.6,0.0,41.1,14.4,44.4,14.4,2.2,12.2,114.0,577.0,NaN,569.0,112,95.5,1.8,0.0,0.0,2.7,0.0,Georgetown,Georgetown High School,"Georgetown town, Essex County, Massachusetts",NaN,NaN,NaN,8470,8183,0.049,0.225,0.158,0.504,0.958,0.008,0.004,0.012,0.000,0.012,0.035,0.932,592,0.037,X,0.808,460400,2568,926,1487,X,3295,2.63,0.911,0.045,0.954,0.935,0.979,0.534,0.045,0.012,0.706,0.671,D,15620,51377,28190,3365.0,36.4,128466,53243,0.031,X,X,X,X,X,611,365,215,47,553,128,472,636.3,12.86,"""2500925625"""

In [95]:
df.shape

(37, 122)

In [96]:
# save merged full dataset
# df.to_csv('output_MA_DOE_Essex_county_profiles_w_census.csv', index = False)

In [97]:
df_ma_essex_county_census

,towns,fact,"population_estimates,_july_1_2021,_(v2021)","population_estimates_base,_april_1,_2020,_(v2021)","population,_percent_change_-_april_1,_2020_(estimates_base)_to_july_1,_2021,_(v2021)","population,_census,_april_1,_2020","population,_census,_april_1,_2010","persons_under_5_years,_percent","persons_under_18_years,_percent","persons_65_years_and_over,_percent","female_persons,_percent","white_alone,_percent","black_or_african_american_alone,_percent","american_indian_and_alaska_native_alone,_percent","asian_alone,_percent","native_hawaiian_and_other_pacific_islander_alone,_percent","two_or_more_races,_percent","hispanic_or_latino,_percent","white_alone,_not_hispanic_or_latino,_percent","veterans,_2015-2019","foreign_born_persons,_percent,_2015-2019","housing_units,__july_1,_2019,__(v2019)","owner-occupied_housing_unit_rate,_2015-2019","median_value_of_owner-occupied_housing_units,_2015-2019","median_selected_monthly_owner_costs_-with_a_mortgage,_2015-2019","median_selected_monthly_owner_costs_-without_a_mortgage,_2015-2019","median_gross_rent,_2015-2019","building_permits,_2020","households,_2015-2019","persons_per_household,_2015-2019","living_in_same_house_1_year_ago,_percent_of_persons_age_1_year+,_2015-2019","language_other_than_english_spoken_at_home,_percent_of_persons_age_5_years+,_2015-2019","households_with_a_computer,_percent,_2015-2019","households_with_a_broadband_internet_subscription,_percent,_2015-2019","high_school_graduate_or_higher,_percent_of_persons_age_25_years+,_2015-2019","bachelor's_degree_or_higher,_percent_of_persons_age_25_years+,_2015-2019","with_a_disability,_under_age_65_years,_percent,_2015-2019","persons__without_health_insurance,_under_age_65_years,_percent","in_civilian_labor_force,_total,_percent_of_population_age_16_years+,_2015-2019","in_civilian_labor_force,_female,_percent_of_population_age_16_years+,_2015-2019","total_accommodation_and_food_services_sales,_2012_($1,000)","total_health_care_and_social_assistance_receipts/revenue,_2012_($1,000)","total_manufacturers_shipments,_2012_($1,000)","total_retail_sales,_2012_($1,000)","total_retail_sales_per_capita,_2012","mean_travel_time_to_work_(minutes),_workers_age_16_years+,_2015-2019",median_household_income,"per_capita_income_in_past_12_months_(in_2019_dollars),_2015-2019","persons_in_poverty,_percent","total_employer_establishments,_2019","total_employment,_2019","total_annual_payroll,_2019_($1,000)","total_employment,_percent_change,_2018-2019","total_nonemployer_establishments,_2018","all_firms,_2012","men-owned_firms,_2012","women-owned_firms,_2012","minority-owned_firms,_2012","nonminority-owned_firms,_2012","veteran-owned_firms,_2012","nonveteran-owned_firms,_2012","population_per_square_mile,_2010","land_area_in_square_miles,_2010",fips_code
0,Amesbury,"Amesbury Town city, Massachusetts",NaN,NaN,NaN,17366,16283,0.044,0.197,0.168,0.513,0.961,0.006,0.003,0.011,0.000,0.019,0.025,0.938,814,0.043,X,0.702,336200,2252,866,1195,X,7215,2.37,0.882,0.044,0.928,0.878,0.942,0.411,0.098,0.018,0.708,0.668,25617,61249,246210,112942,6830.0,32.6,82468,42607,0.063,X,X,X,X,X,1666,817,761,30,1587,216,1395,1327.8,12.26,"""2501260"""
1,Andover,"Andover CDP, Massachusetts",NaN,NaN,NaN,9735,8762,0.038,0.166,0.194,0.534,0.870,0.026,0.001,0.079,0.000,0.023,0.025,0.847,409,0.135,X,0.720,564200,2713,1096,1006,X,3472,2.15,0.860,0.165,0.918,0.890,0.966,0.700,0.052,0.021,0.647,0.596,X,X,X,X,NaN,32.5,95600,55457,0.095,X,X,X,X,X,F,F,F,F,F,F,F,2376.6,3.69,"""2501430"""
2,Beverly,"Beverly city, Massachusetts",NaN,NaN,NaN,42670,39502,0.051,0.181,0.168,0.534,0.921,0.021,0.001,0.022,0.001,0.027,0.051,0.885,2245,0.080,X,0.605,437300,2379,842,1282,X,16443,2.34,0.862,0.102,0.910,0.878,0.952,0.506,0.074,0.022,0.681,0.633,D,516124,594908,690375,17137.0,29.4,80586,45803,0.093,X,X,X,X,X,4110,2444,1279,215,3722,286,3618,2617.2,15.09,"""2505595"""
3,Boxford,"Boxford town, Essex County, Massachusetts",NaN,NaN,NaN,8203,7965,0.045,0.251,0.161,0.488,0.945,0.000,0.000,0.020,0.000,0.035,0.024,0.935,360,0.046,X,0.977,678700,3328,1218,870,X,2839,2.92,0.973,0.051,0.982,0.960,0.981,0.681,0.038,0.010,0.690,0.622,2065,14304,D,D,NaN,40.4,184007,79705,0.002,X,X,X,X,X,870,440,370,F,854,39,823,338.1,23.56,"""2500907420"""
4,Danvers,"Danvers town, Essex County, Massachusetts",NaN,NaN,NaN,28087,26493,0.049,0.190,0.209,0.543,0.917,0.024,0.001,0.026,0.000,0.023,0.051,0.876,1414,0.105,X,0.713,427400,2421,864,1398,X,10689,2.51,0.894,0.119,0.909,0.873,0.937,0.432,0.075,0.020,0.676,0.631,132584,423406,912359,1792878,66354.0,28.3,89250,44005,0.071,X,X,X,X,X,3027,1824,874,128,2701,415,2387,1995.6,13.28,"""2500916250"""
5,Essex County,"Essex County, Massachusetts",NaN,NaN,NaN,809829,743159,0.056,0.211,0.176,0.518,0.851,0.071,0.009,0.039,0.002,0.028,0.222,0.690,32697,0.173,314723,0.642,409900,2342,866,1241,1359,294202,2.60,0.890,0.265,0.911,0.858,0.893,0.399,0.079,0.039,0.675,0.634,1536058,5323953,12747884,10037894,13284.0,30.4,79263,42347,0.090,19328,300360,16760357,0.01,69827,71118,41046,24612,10741,58429,6629,61791,1508.8,492.56,"""25009"""
6,Georgetown,"Georgetown town, Essex County, Massachusetts",NaN,NaN,NaN,8470,8183,0.049,0.225,0.158,0.504,0.958,0.008,0.004,0.012,0.000,0.012,0.035,0.932,592,0.037,X,0.808,460400,2568,926,1487,X,3295,2.63,0.911,0.045,0.954,0.935,0.979,0.534,0.045,0.012,0.706,0.671,D,15620,51377,28190,3365.0,36.4,128466,53243,0.031,X,X,X,X,X,611,365,215,47,553,128,472,636.3,12.86,"""2500925625"""
7,Gloucester,"Gloucester city, Massachusetts",NaN,NaN,NaN,29729,28789,0.060,0.165,0.230,0.516,0.936,0.017,0.000,0.019,0.000,0.023,0.024,0.919,1558,0.086,X,0.640,425400,2241,880,1185,X,13110,2.27,0.913,0.093,0.910,0.861,0.925,0.399,0.069,0.041,0.641,0.590,72373,179407,D,344334,11796.0,26.4,72574,43321,0.100,X,X,X,X,X,3907,2160,1373,293,3500,405,3327,1099.0,26.20,"""2526150"""
8,Groveland,"Groveland town, Essex County, Massachusetts",NaN,NaN,NaN,6752,6459,0.050,0.203,0.178,0.490,0.983,0.000,0.003,0.007,0.000,0.003,0.032,0.959,183,0.025,X,0.871,406700,2402,882,1337,X,2448,2.77,0.926,0.033,0.978,0.895,0.966,0.487,0.084,0.000,0.706,0.684,4325,D,D,D,NaN,29.5,103125,44709,0.028,X,X,X,X,X,555,344,179,F,525,102,422,727.1,8.88,"""2500927620"""
9,Hamilton,"Hamilton town, Essex County, Massachusetts",NaN,NaN,NaN,7561,7764,0.058,0.258,0.141,0.494,0.921,0.003,0.000,0.060,0.002,0.011,0.015,0.910,377,0.096,X,0.809,569100,3191,1113,1207,X,2719,2.89,0.893,0.077,0.957,0.936,0.982,0.693,0.042,0.017,0.642,0.566,7982,13465,X,44295,5487.0,35.6,127813,49347,0.119,X,X,X,X,X,759,330,367,F,738,43,693,547.4,14.18,"""2500927900"""
10,Haverhill,"Haverhill city, Massachusetts",NaN,NaN,NaN,67787,60879,0.061,0.231,0.127,0.517,0.803,0.036,0.001,0.013,0.000,0.039,0.232,0.697,2827,0.107,X,0.571,300600,1990,748,1208,X,24256,2.58,0.891,0.219,0.929,0.831,0.908,0.298,0.100,0.037,0.722,0.692,100586,364567,719273,677689,10966.0,28.6,69426,33918,0.125,X,X,X,X,X,4361,2364,1573,709,3448,439,3643,1846.5,32.97,"""2529405"""
11,Ipswich,"Ipswich town, Essex County, Massachusetts",NaN,NaN,NaN,13785,13175,0.038,0.206,0.224,0.519,0.944,0.022,0.000,0.009,0.000,0.011,0.042,0.920,781,0.065,X,0.717,485600,2449,886,1145,X,5761,2.40,0.935,0.078,0.906,0.856,0.976,0.541,0.049,0.017,0.662,0.625,25625,16858,282831,94946,7010.0,30.6,93212,52393,0.076,X,X,X,X,X,1655,928,572,F,1599,115,1480,410.3,32.11,"""2500932310"""
12,Lawrence,"Lawrence city, Massachusetts",NaN,NaN,NaN,89143,76377,0.078,0.263,0.104,0.511,0.528,0.057,0.003,0.017,0.000,0.031,0.806,0.148,1168,0.406,X,0.310,271100,1844,593,1145,X,25959,3.03,0.882,0.782,0.839,0.721,0.670,0.108,0.092,0.074,0.670,0.640,D,674822,813616,486394,6290.0,23.7,44613,20858,0.214,X,X,X,X,X,5343,2878,2113,3678,1453,264,4864,11028.0,6.93,"""2534550"""
13,Lynn,"Lynn city, Massachusetts",NaN,NaN,NaN,101253,90329,0.073,0.245,0.117,0.496,0.486,0.137,0.004,0.073,0.001,0.066,0.428,0.359,2747,0.367,X,0.449,323100,2109,773,1189,X,32599,2.85,0.874,0.536,0.871,0.799,0.762,0.185,0.098,0.055,0.682,0.630,D,388045,D,668238,7323.0,32.7,56181,26291,0.166,X,X,X,X,X,5352,2887,2135,2037,3134,374,4731,8409.5,10.74,"""2537490"""
14,Lynnfield,"Lynnfield town, Essex County, Massachusetts",NaN,NaN,NaN,13000,11596,0.057,0.248,0.197,0.518,0.923,0.012,0.000,0.044,0.000,0.019,0.024,0.907,489,0.078,X,0.851,670700,3242,1143,1669,X,4590,2.81,0.925,0.096,0.924,0.906,0.967,0.551,0.033,0.016,0.688,0.600,16891,26675,X,317013,26854.0,32.5,128641,63191,0.020,X,X,X,X,X,1412,953,366,97,1240,205,1111,1173.4,9.88,"""2500937560"""
15,Manchester,"Manchester-by-the-Sea town, Essex County, Mass...",NaN,NaN,NaN,5395,5136,0.039,0.226,0.236,0.498,0.986,0.000,0.000,0.007,0.000,0.006,0.015,0.971,215,0.078,X,0.762,852400,3269,"$1,500+",1356,X,2075,2.59,0.880,0.080,0.946,0.903,0.983,0.708,0.004,0.030,0.655,0.602,D,13745,X,25969,4979.0,36.9,148854,74989,0.033,X,X,X,X,X,850,467,298,F,807,40,795,556.5,9.23,"""2500937995"""
16,Marblehead,"Marblehead town, Essex County, Massachusetts",NaN,NaN,NaN,20441,19808,0.037,0.232,0.218,0.529,0.956,0.016,0.000,0.014,0.000,0.009,0.050,0.911,910,0.105,X,0.778,675400,2865,1077,1578,X,8122,2.51,0.907,0.131,0.972,0.953,0.986,0.713,0.031,0.023,0.663,0.613,19329,40689,16750,100119,4987.0,38.5,123333,69148,0.044,X,X,X,X,X,3138,1879,949,80,2923,269,2727,4515.5,4.39,"""2500938400"""
17,Massachusetts,Massachusetts,6984723.0,7029917.0,-0.006,7029917,6547629,0.052,0.196,0.170,0.515,0.806,0.090,0.005,0.072,0.001,0.026,0.124,0.711,303534,0.168,2928732,0.624,381600,2225,812,1282,17025,2617497,2.52,0.873,0.238,0.914,0.864,0.908,0.437,0.078,0.035,0.672,0.634,17508975,63583090,81927799,92915380,13980.0,30.2,81215,43761,0.094,181061,3386372,238938268,0.02,573754,607664,357158,199210,89967,499959,58339,525667,839.4,7800.06,"""25"""
18,Merrimac,"Merrimac town, Essex County, Massachusetts",NaN,NaN,NaN,6723,6338,0.037,0.195,0.191,0.504,0.967,0.002,0.000,0.010,0.000,0.007,0.024,0.956,482,0.033,X,0.871,362600,2304,706,1102,X,2710,2.53,0.951,0.043,0.927,0.832,0.943,0.437,0.098,0.034,0.683,0.641,3105,D,D,11386,1747.0,32.6,84609,44616,0.034,X,X,X,X,X,579,288,264,F,568,103,470,749.3,8.46,"""2500940430"""
19,Methuen,"Methuen Town city, Massachusetts",NaN,NaN,NaN,53059,47255,0.048,0.209,0.160,0.519,0.746,0.043,0.003,0.041,0.000,0.039,0.295,0.609,2015,0.223,X,0.718,333200,2068,760,1233,X,17907,2.78,0.885,0.361,0.923,0.887,0.883,0.281,0.079,0.047,0.699,0.670,96912,334051,635169,530345,11047.0,27.8,77484,35387,0.092,X,X,X,X,X,3750,2260,1184,681,2929,333,3166,2124.0,22.25,"""2540710"""
20,Middleton,"Middleton town, Essex County, Massachusetts",NaN,NaN,NaN,9779,8987,0.049,0.189,0.184,0.466,0.929,0.015,0.001,0.012,0.000,0.034,0.062,0.903,305,0.085,X,0.884,555600,2869,964,1720,X,2999,2.92,0.896,0.156,0.936,0.951,0.914,0.393,0.072,0.030,0.569,0.609,19682,19079,142749,175156,18901.0,33.4,125204,52896,0.028,X,X,X,X,X,935,519,356,F,860,75,823,667.9,13.46,"""2500941095"""
21,Newbury,"Newbury town, Essex County, Massachusetts",NaN,NaN,NaN,6716,6666,0.026,0.251,0.226,0.548,0.937,0.010,0.000,0.016,0.000,0.012,0.030,0.921,457,0.040,X,0.864,517100,2645,749,1077,X,2577,2.68,0.923,0.035,0.972,0.944,0.963,0.531,0.033,0.017,0.655,0.599,7144,3264,D,D,NaN,28.6,101875,57871,0.089,X,X,X,X,X,886,488,337,F,876,91,734,285.4,23.35,"""2500945175"""
22,Newburyport,"Newburyport city, Massachusetts",NaN,NaN,NaN,18289,17416,0.035,0.206,0.210,0.545,0.941,0.017,0.000,0.022,0.000,0.017,0.028,0.924,801,0.075,X,0.772,548400,2599,1007,1338,X,7836,2.27,0.904,0.072,0.940,0.900,0.969,0.624,0.052,0.023,0.693,0.638,66902,259692,558698,223348,12651.0,33.6,109839,64018,0.059,X,X,X,X,X,2672,1561,924,128,2395,229,2302,2086.2,8.35,"""2545245"""
23,North Andover,"North Andover town, Essex County, Massachusetts",NaN,NaN,NaN,30915,28352,0.057,0.242,0.159,0.520,0.858,0.036,0.001,0.061,0.000,0.023,0.076,0.811,1218,0.119,X,0.714,505400,2834,982,1577,X,11112,2.67,0.867,0.151,0.937,0.908,0.959,0.597,0.063,0.018,0.667,0.602,69990,208800,245244,318635,11211.0,32.5,108070,54939,0.056,X,X,X,X,X,2866,1576,1051,408,2361,236,2455,1077.8,26.31,"""2500946365"""
24,Peabody,"Peabody city, Massachusetts",NaN,NaN,NaN,54481,51251,0.062,0.171,0.225,0.520,0.899,0.038,0.004,0.011,0.000,0.027,0.099,0.827,2974,0.154,X,0.658,387400,2039,659,1366,X,21713,2.41,0.880,0.213,0.865,0.818,0.901,0.340,0.091,0.032,0.640,0.592,154677,594501,1063923,1256022,24216.0,27.8,73217,40095,0.086,X,X,X,X,X,4954,3020,1380,496,4143,476,4051,3161.4,16.21,"""2552490"""
25,Rockport,"Rockport town, Essex County, Massachusetts",NaN,NaN,NaN,6992,6952,0.038,0.147,0.337,0.563,0.970,0.001,0.000,0.001,0.000,0.011,0.007,0.965,480,0.029,X,0.690,536400,2260,918,1360,X,3324,2.16,0.913,0.029,0.913,0.860,0.973,0.569,0.042,0.008,0.594,0.546,18432,D,D,19799,2803.0,29.1,85208,51122,0.067,X,X,X,X,X,969,391,505,49,901,53,897,994.4,6.99,"""2500957880"""
26,Rowley,"Rowley town, Essex County, Massachusetts",NaN,NaN,NaN,6161,5856,0.053,0.218,0.169,0.535,0.959,0.012,0.000,0.011,0.000,0.016,0.008,0.954,413,0.033,X,0.813,486100,2476,856,1361,X,2210,2.86,0.914,0.031,0.941,0.914,0.967,0.445,0.067,0.003,0.713,0.692,D,12220,D,105161,17627.0,31.9,115909,54885,0.044,X,X,X,X,X,816,477,276,F,797,68,743,321.6,18.21,"""2500958405"""
27,Salem,"Salem city, Massachusetts",NaN,NaN,NaN,44480,41340,0.052,0.162,0.162,0.547,0.790,0.066,0.006,0.025,0.000,0.038,0.178,0.718,1607,0.146,X,0.515,367200,2206,881,1289,X,18437,2.25,0.857,0.220,0.916,0.879,0.912,0.430,0.102,0.028,0.680,0.649,116417,764377,132957,469570,11122.0,31.3,68808,38400,0.147,X,X,X,X,X,4058,2207,1398,505,3413,686,3205,4992.9,8.28,"""2559105"""
28,Salisbury,"Salisbury town, Essex County, Massachusetts",NaN,NaN,NaN,9236,8283,0.048,0.173,0.207,0.500,0.959,0.007,0.001,0.011,0.002,0.010,0.036,0.928,786,0.049,X,0.816,363600,2092,730,1463,X,3891,2.39,0.912,0.059,0.932,0.897,0.922,0.358,0.106,0.034,0.652,0.652,31569,D,40760,71065,8435.0,30.1,81304,43214,0.062,X,X,X,X,X,876,536,220,100,764,75,748,536.9,15.43,"""2500959245"""
29,Saugus,"Saugus town, Essex County, Massachusetts",NaN,NaN,NaN,28619,26628,0.046,0.172,0.202,0.510,0.907,0.021,0.003,0.038,0.000,0.017,0.086,0.833,1466,0.132,X,0.806,394900,2277,825,919,X,10424,2.67,0.922,0.182,0.913,0.876,0.918,0.288,0.112,0.044,0.674,0.651,124429,56175,75882,733468,26830.0,32.1,88667,39790,0.098,X,X,X,X,X,2461,1691,545,270,2025,296,1975,2467.0,10.79,"""2500960015"""
30,Swampscott,"Swampscott town, Essex County, Massachusetts",NaN,NaN,NaN,15111,13787,0.061,0.222,0.188,0.541,0.935,0.015,0.000,0.022,0.000,0.021,0.025,0.917,658,0.129,X,0.771,475500,2855,1080,1916,X,5780,2.57,0.886,0.169,0.907,0.887,0.974,0.573,0.049,0.004,0.691,0.657,D,33958,D,180266,12951.0,35.4,113407,56405,0.031,X,X,X,X,X,1865,998,626,208,1619,36,1791,4560.1,3.02,"""2500968645"""
31,Topsfield,"Topsfield town, Essex County, Massachusetts",NaN,NaN,NaN,6569,6085,0.061,0.262,0.230,0.516,0.962,0.001,0.000,0.026,0.000,0.008,0.017,0.948,450,0.077,X,0.903,598700,3188,1330,-,X,2206,2.90,0.898,0.048,0.935,0.908,0.972,0.644,0.044,0.019,0.603,0.532,9257,21316,33619,45396,7237.0,40.2,136863,53853,0.046,X,X,X,X,X,1070,724,221,30,991,82,893,510.4,11.92,"""2500970150"""
32,United States,United States,331893745.0,331449281.0,0.001,331449281,308745538,0.060,0.223,0.165,0.508,0.763,0.134,0.013,0.059,0.002,0.028,0.185,0.601,18230322,0.136,139684244,0.640,217500,1595,500,1062,1471141,120756048,2.62,0.858,0.216,0.903,0.827,0.880,0.321,0.086,0.102,0.630,0.583,708138598,2040441203,5696729632,4219821871,13443.0,26.9,62843,34103,0.114,7959103,132989428,7428553593,0.02,26485532,27626360,14844597,9878397,7952386,18987918,2521682,24070685,87.4,3531905.43,"""1"""
33,Wenham,"Hamilton town, Essex County, Massachusetts",NaN,NaN,NaN,7561,7764,0.058,0.258,0.141,0.494,0.921,0.003,0.000,0.060,0.002,0.011,0.015,0.910,377,0.096,X,0.809,569100,3191,1113,1207,X,2719,2.89,0.893,0.077,0.957,0.936,0.982,0.693,0.042,0.017,0.642,0.566,7982,13465,X,44295,5487.0,35.6,127813,49347,0.119,X,X,X,X,X,759,330,367,F,738,43,693,547.4,14.18,"""2500927900"""
34,Nahant,"Swampscott town, Essex County, Massachusetts",NaN,NaN,NaN,15111,13787,0.061,0.222,0.188,0.541,0.935,0.015,0.000,0.022,0.000,0.021,0.025,0.917,658,0.129,X,0.771,475500,2855,1080,1916,X,5780,2.57,0.886,0.169,0.907,0.887,0.974,0.573,0.049,0.004,0.691,0.657,D,33958,D,180266,12951.0,35.4,113407,56405,0.031,X,X,X,X,X,1865,998,626,208,1619,36,1791,4560.1,3.02,"""2500968645"""
35,West Newbury,"Groveland town, Essex County, Massachusetts",NaN,NaN,NaN,6752,6459,0.050,0.203,0.178,0.490,0.983,0.000,0.003,0.007,0.000,0.003,0.032,0.959,183,0.025,X,0.871,406700,2402,882,1337,X,2448,2.77,0.926,0.033,0.978,0.895,0.966,0.487,0.084,0.000,0.706,0.684,4325,D,D,D,NaN,29.5,103125,44709,0.028,X,X,X,X,X,555,344,179,F,525,102,422,727.1,8.88,"""2500927620"""
36,Essex,"Manchester-by-the-Sea town, Essex County, Mass...",NaN,NaN,NaN,5395,5136,0.039,0.226,0.236,0.498,0.986,0.000,0.000,0.007,0.000,0.006,0.015,0.971,215,0.078,X,0.762,852400,3269,"$1,500+",1356,X,2075,2.59,0.880,0.080,0.946,0.903,0.983,0.708,0.004,0.030,0.655,0.602,D,13745,X,25969,4979.0,36.9,148854,74989,0.033,X,X,X,X,X,850,467,298,F,807,40,795,556.5,9.23,"""2500937995"""

In [103]:
df_ma_essex_county_census_subset = df_ma_essex_county_census[['towns', 'fact', 'median_household_income']] 
df_ma_essex_county_census_subset

,towns,fact,median_household_income
0,Amesbury,"Amesbury Town city, Massachusetts",82468
1,Andover,"Andover CDP, Massachusetts",95600
2,Beverly,"Beverly city, Massachusetts",80586
3,Boxford,"Boxford town, Essex County, Massachusetts",184007
4,Danvers,"Danvers town, Essex County, Massachusetts",89250
5,Essex County,"Essex County, Massachusetts",79263
6,Georgetown,"Georgetown town, Essex County, Massachusetts",128466
7,Gloucester,"Gloucester city, Massachusetts",72574
8,Groveland,"Groveland town, Essex County, Massachusetts",103125
9,Hamilton,"Hamilton town, Essex County, Massachusetts",127813
10,Haverhill,"Haverhill city, Massachusetts",69426
11,Ipswich,"Ipswich town, Essex County, Massachusetts",93212
12,Lawrence,"Lawrence city, Massachusetts",44613
13,Lynn,"Lynn city, Massachusetts",56181
14,Lynnfield,"Lynnfield town, Essex County, Massachusetts",128641
15,Manchester,"Manchester-by-the-Sea town, Essex County, Mass...",148854
16,Marblehead,"Marblehead town, Essex County, Massachusetts",123333
17,Massachusetts,Massachusetts,81215
18,Merrimac,"Merrimac town, Essex County, Massachusetts",84609
19,Methuen,"Methuen Town city, Massachusetts",77484
20,Middleton,"Middleton town, Essex County, Massachusetts",125204
21,Newbury,"Newbury town, Essex County, Massachusetts",101875
22,Newburyport,"Newburyport city, Massachusetts",109839
23,North Andover,"North Andover town, Essex County, Massachusetts",108070
24,Peabody,"Peabody city, Massachusetts",73217
25,Rockport,"Rockport town, Essex County, Massachusetts",85208
26,Rowley,"Rowley town, Essex County, Massachusetts",115909
27,Salem,"Salem city, Massachusetts",68808
28,Salisbury,"Salisbury town, Essex County, Massachusetts",81304
29,Saugus,"Saugus town, Essex County, Massachusetts",88667
30,Swampscott,"Swampscott town, Essex County, Massachusetts",113407
31,Topsfield,"Topsfield town, Essex County, Massachusetts",136863
32,United States,United States,62843
33,Wenham,"Hamilton town, Essex County, Massachusetts",127813
34,Nahant,"Swampscott town, Essex County, Massachusetts",113407
35,West Newbury,"Groveland town, Essex County, Massachusetts",103125
36,Essex,"Manchester-by-the-Sea town, Essex County, Mass...",148854

In [105]:
df_ma_essex_county_census_subset.sort_values(by = 'median_household_income', ascending=False)

,towns,fact,median_household_income
3,Boxford,"Boxford town, Essex County, Massachusetts",184007
36,Essex,"Manchester-by-the-Sea town, Essex County, Mass...",148854
15,Manchester,"Manchester-by-the-Sea town, Essex County, Mass...",148854
31,Topsfield,"Topsfield town, Essex County, Massachusetts",136863
14,Lynnfield,"Lynnfield town, Essex County, Massachusetts",128641
6,Georgetown,"Georgetown town, Essex County, Massachusetts",128466
33,Wenham,"Hamilton town, Essex County, Massachusetts",127813
9,Hamilton,"Hamilton town, Essex County, Massachusetts",127813
20,Middleton,"Middleton town, Essex County, Massachusetts",125204
16,Marblehead,"Marblehead town, Essex County, Massachusetts",123333
26,Rowley,"Rowley town, Essex County, Massachusetts",115909
34,Nahant,"Swampscott town, Essex County, Massachusetts",113407
30,Swampscott,"Swampscott town, Essex County, Massachusetts",113407
22,Newburyport,"Newburyport city, Massachusetts",109839
23,North Andover,"North Andover town, Essex County, Massachusetts",108070
8,Groveland,"Groveland town, Essex County, Massachusetts",103125
35,West Newbury,"Groveland town, Essex County, Massachusetts",103125
21,Newbury,"Newbury town, Essex County, Massachusetts",101875
1,Andover,"Andover CDP, Massachusetts",95600
11,Ipswich,"Ipswich town, Essex County, Massachusetts",93212
4,Danvers,"Danvers town, Essex County, Massachusetts",89250
29,Saugus,"Saugus town, Essex County, Massachusetts",88667
25,Rockport,"Rockport town, Essex County, Massachusetts",85208
18,Merrimac,"Merrimac town, Essex County, Massachusetts",84609
0,Amesbury,"Amesbury Town city, Massachusetts",82468
28,Salisbury,"Salisbury town, Essex County, Massachusetts",81304
17,Massachusetts,Massachusetts,81215
2,Beverly,"Beverly city, Massachusetts",80586
5,Essex County,"Essex County, Massachusetts",79263
19,Methuen,"Methuen Town city, Massachusetts",77484
24,Peabody,"Peabody city, Massachusetts",73217
7,Gloucester,"Gloucester city, Massachusetts",72574
10,Haverhill,"Haverhill city, Massachusetts",69426
27,Salem,"Salem city, Massachusetts",68808
32,United States,United States,62843
13,Lynn,"Lynn city, Massachusetts",56181
12,Lawrence,"Lawrence city, Massachusetts",44613